<a href="https://colab.research.google.com/github/AnnJungChan/TECHCROSS/blob/main/DATA_SEARCH/%ED%85%8C%EC%9D%B4%EB%B8%94_%EB%82%B4%EB%B6%80_%EB%B3%80%EC%88%98_%EA%B4%80%EA%B3%84_%EC%B8%A1%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ECU, ANU, TSU, PMU 테이블 각각의 내부에 있는 변수간의 관계를 측정하기 위한 형식

- SHIP_ID, SECTION, LINE별로 ECU, ANU, TSU, PMU 테이블의 DEVICE_ID가 각각 몇개씩 있는지 측정한 지표입니다.

- 이를 기본형식으로, ECU, ANU, TSU, PMU 테이블 내부에 존재하는 각각의 변수에 대해 조사할 예정업니다.

# 패키지로딩

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
import numpy as np

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# 파일로딩

In [2]:
OPTIME= pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
SHIPINFO=pd.read_csv('/content/gdrive/MyDrive/DB/SHIPINFO.csv')
DATA_DEVICE_DATA_OPTIME=pd.read_csv("/content/gdrive/MyDrive/DB/DATA_DEVICE_DATA_OPTIME.csv")

# SHIPINFO 테이블에서 SHIP_NAME만 가져오기

In [3]:
SHIPINFO=SHIPINFO.iloc[:,0:2]
SHIPINFO.rename(columns = {'ship_id': 'SHIP_ID', 'ship_name' : 'SHIP_NAME'}, inplace = True)
SHIPINFO

            SHIP_ID         SHIP_NAME
0     T121129-00101      POS SHANGHAI
1     T121129-00201           ALBIDDA
2     T121129-00301        AL RUMEILA
3     T121129-00401          OSHAIRIJ
4     T121129-00501      STAR CLIPPER
...             ...               ...
3486   T20220209005        Kongo Star
3487   T20220209006      Pechora Star
3488   T20220209007  Mississippi Star
3489   T20220209008       Murray Star
3490   T20220209009     HACI KEMAL KA

[3491 rows x 2 columns]

# DATA_DEVICE_DATA_OPTIME 테이블에서 SHIP_ID, SECTION, LINE, DEVICETYPE, DEVICE_ID를 가져오고, DEVICE_ID의 갯수를 세기

In [4]:
DEVICE_COUNT=DATA_DEVICE_DATA_OPTIME[['SHIP_ID','SECTION', 'LINE','DEVICETYPE','DEVICE_ID']].drop_duplicates().groupby(['SHIP_ID','SECTION','LINE','DEVICETYPE']).count()
DEVICE_COUNT.to_csv("DEVICE_COUNT.csv")
DEVICE_COUNT=pd.read_csv("DEVICE_COUNT.csv")
DEVICE_COUNT

           SHIP_ID  SECTION  LINE  DEVICETYPE  DEVICE_ID
0    T140110-00206        0   1.0           1          2
1    T140110-00206        0   1.0           2          1
2    T140110-00206        0   1.0           3          1
3    T140110-00206        0   1.0           4          1
4    T140110-00206        0   2.0           1          2
..             ...      ...   ...         ...        ...
296   T20210521011        0   3.0           1          1
297   T20210521011        0   3.0           3          1
298   T20210521011        0   3.0           4          1
299        Unknown        2   2.0           2          1
300        Unknown        2   2.0           3          1

[301 rows x 5 columns]

# 기기별로 테이블 분할

In [5]:
ECU= DEVICE_COUNT.loc[DEVICE_COUNT['DEVICETYPE'] == 1,:]
ANU= DEVICE_COUNT.loc[DEVICE_COUNT['DEVICETYPE'] == 2,:]
TSU= DEVICE_COUNT.loc[DEVICE_COUNT['DEVICETYPE'] == 3,:]
PMU= DEVICE_COUNT.loc[DEVICE_COUNT['DEVICETYPE'] == 4,:]

# SHIP_ID 붙여넣기

In [6]:
ECU=pd.merge(ECU,SHIPINFO, how = 'left', on = 'SHIP_ID')
ECU=ECU[['SHIP_NAME', 'SHIP_ID', 'SECTION','LINE','DEVICE_ID']]
ECU.rename(columns = {'DEVICE_ID': 'DEVICE_QUANTITY'}, inplace = True)

ANU=pd.merge(ANU,SHIPINFO, how = 'left', on = 'SHIP_ID')
ANU=ANU[['SHIP_NAME', 'SHIP_ID', 'SECTION','LINE','DEVICE_ID']]
ANU.rename(columns = {'DEVICE_ID': 'DEVICE_QUANTITY'}, inplace = True)

TSU=pd.merge(TSU,SHIPINFO, how = 'left', on = 'SHIP_ID')
TSU=TSU[['SHIP_NAME', 'SHIP_ID', 'SECTION','LINE','DEVICE_ID']]
TSU.rename(columns = {'DEVICE_ID': 'DEVICE_QUANTITY'}, inplace = True)

PMU=pd.merge(PMU,SHIPINFO, how = 'left', on = 'SHIP_ID')
PMU=PMU[['SHIP_NAME', 'SHIP_ID', 'SECTION','LINE','DEVICE_ID']]
PMU.rename(columns = {'DEVICE_ID': 'DEVICE_QUANTITY'}, inplace = True)

# 저장하기

In [7]:
ECU.to_csv("ECU.csv")
ANU.to_csv("ANU.csv")
TSU.to_csv("TSU.csv")
PMU.to_csv("PMU.csv")