# ECU 유닛 1:8 모두 0인 것을 제외하면 CURRENT는 유닛 1~8 합, VOLTAGE는 평균 여부 확인

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
ecu = pd.read_csv(('../../../Work/techcross/csv/ECU.csv'))

In [3]:
ecu.shape

(620535, 26)

## VOLTAGE CHECK

In [4]:
#V1:8 전부 0인것은 제외
vcon = (ecu['V1'] != 0) | (ecu['V2'] != 0) | (ecu['V3'] != 0) | (ecu['V4'] != 0) | (ecu['V5'] != 0) | (ecu['V6'] != 0) | (ecu['V7'] != 0) | (ecu['V8'] != 0)

In [5]:
ecuvcon = ecu[vcon]

In [6]:
#0을 널값으로 변환, 평균내어 첫째자리 까지 반올림
ecuvcon = ecuvcon.replace(0, np.NaN)
ecuvcon['Vavg'] = ecuvcon.iloc[:, 4:11].mean(axis=1).round(1)
ecuvcon['일치여부1'] = ecuvcon['VOLTAGE'] == ecuvcon['Vavg']
ecuvcon

,SHIP_ID,D_INDEX,DEVICE_ID,CONTROL,V1,V2,V3,V4,V5,V6,...,C7,C8,TEMP,CURRENT,VOLTAGE,CONTROL_CURRENT,SYSTEM,SECTION,Vavg,일치여부1
2,T140113-00103,1,1,34.0,3.8,3.7,3.9,4.0,3.9,4.0,...,736.0,736.0,3.9,5897.0,3.9,5901.0,NaN,NaN,3.9,True
3,T140113-00104,1,1,34.0,3.9,4.0,3.9,4.0,3.3,NaN,...,658.0,657.0,3.2,4609.0,3.8,5306.0,NaN,NaN,3.8,True
5,T140703-00101,1,1,NaN,3.9,3.9,3.9,NaN,NaN,NaN,...,NaN,NaN,NaN,2816.0,3.9,NaN,NaN,NaN,3.9,True
7,T141027-00501,1,1,34.0,4.0,3.9,4.2,4.1,4.0,3.9,...,498.0,498.0,3.5,3984.0,3.9,NaN,NaN,NaN,4.0,False
10,T20180208001,1,1,NaN,4.7,4.6,4.4,4.6,4.3,4.3,...,522.0,522.0,16.0,4175.0,4.4,NaN,NaN,NaN,4.5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620530,T20200113001,19680,9,34.0,6.4,6.5,6.9,6.9,7.2,7.3,...,718.0,717.0,NaN,5738.0,7.1,5745.0,1.0,1.0,7.0,False
620531,T20200113001,19683,9,34.0,7.1,7.1,7.5,7.5,8.0,8.0,...,850.0,831.0,NaN,6769.0,7.8,8000.0,1.0,1.0,7.7,False
620532,T20200113001,19686,9,34.0,7.6,7.7,8.3,8.2,8.8,8.9,...,989.0,989.0,NaN,7913.0,8.6,7927.0,1.0,1.0,8.5,False
620533,T20200113001,19689,9,34.0,7.7,7.8,8.2,8.1,8.7,8.8,...,997.0,998.0,NaN,7979.0,8.6,7991.0,1.0,1.0,8.4,False
620534,T20200113001,19692,9,34.0,7.6,7.6,8.1,8.1,8.8,8.8,...,995.0,995.0,NaN,7960.0,8.5,7960.0,1.0,1.0,8.4,False

In [7]:
#첫째자리까지 반올림 했을 때 불일치 하는 것들
ecuvcon[ecuvcon['일치여부1'] == False]

,SHIP_ID,D_INDEX,DEVICE_ID,CONTROL,V1,V2,V3,V4,V5,V6,...,C7,C8,TEMP,CURRENT,VOLTAGE,CONTROL_CURRENT,SYSTEM,SECTION,Vavg,일치여부1
7,T141027-00501,1,1,34.0,4.0,3.9,4.2,4.1,4.0,3.9,...,498.0,498.0,3.5,3984.0,3.9,NaN,NaN,NaN,4.0,False
10,T20180208001,1,1,NaN,4.7,4.6,4.4,4.6,4.3,4.3,...,522.0,522.0,16.0,4175.0,4.4,NaN,NaN,NaN,4.5,False
11,T20180614001,1,1,NaN,5.0,5.0,3.8,NaN,4.6,4.6,...,365.0,364.0,27.5,2551.0,4.4,NaN,NaN,NaN,4.5,False
17,T20191016008,1,1,-1.0,2.5,2.3,NaN,NaN,NaN,NaN,...,NaN,NaN,-9999.0,NaN,NaN,-1.0,NaN,NaN,2.4,False
19,T20200603001,1,1,34.0,4.2,3.9,3.8,NaN,NaN,NaN,...,NaN,NaN,13.3,1968.0,3.9,1969.0,NaN,NaN,4.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620530,T20200113001,19680,9,34.0,6.4,6.5,6.9,6.9,7.2,7.3,...,718.0,717.0,NaN,5738.0,7.1,5745.0,1.0,1.0,7.0,False
620531,T20200113001,19683,9,34.0,7.1,7.1,7.5,7.5,8.0,8.0,...,850.0,831.0,NaN,6769.0,7.8,8000.0,1.0,1.0,7.7,False
620532,T20200113001,19686,9,34.0,7.6,7.7,8.3,8.2,8.8,8.9,...,989.0,989.0,NaN,7913.0,8.6,7927.0,1.0,1.0,8.5,False
620533,T20200113001,19689,9,34.0,7.7,7.8,8.2,8.1,8.7,8.8,...,997.0,998.0,NaN,7979.0,8.6,7991.0,1.0,1.0,8.4,False
620534,T20200113001,19692,9,34.0,7.6,7.6,8.1,8.1,8.8,8.8,...,995.0,995.0,NaN,7960.0,8.5,7960.0,1.0,1.0,8.4,False

In [10]:
#둘째자리 까지 반올림한 후 오차범위 0.1로, 첫째자리까지 반올림하여 판단
ecuvcon['Vavg'] = ecuvcon.iloc[:, 4:11].mean(axis=1).round(2)
ecuvcon['일치여부2'] = (ecuvcon['VOLTAGE'] <= (ecuvcon['Vavg'] + 0.1).round(1)) & (ecuvcon['VOLTAGE'] >= (ecuvcon['Vavg'] - 0.1).round(1))
ecuvcon[ecuvcon['일치여부2'] == False]

,SHIP_ID,D_INDEX,DEVICE_ID,CONTROL,V1,V2,V3,V4,V5,V6,...,C8,TEMP,CURRENT,VOLTAGE,CONTROL_CURRENT,SYSTEM,SECTION,Vavg,일치여부1,일치여부2
17,T20191016008,1,1,-1.0,2.5,2.3,NaN,NaN,NaN,NaN,...,NaN,-9999.0,NaN,NaN,-1.0,NaN,NaN,2.40,False,False
54,T20191016008,4,1,-1.0,2.5,2.3,NaN,NaN,NaN,NaN,...,NaN,-9999.0,NaN,NaN,-1.0,NaN,NaN,2.40,False,False
172,T20180614001,13,1,NaN,6.5,6.6,6.3,6.3,5.8,5.9,...,584.0,29.2,4668.0,5.9,NaN,NaN,NaN,6.07,False,False
214,T20180614001,16,1,NaN,6.5,6.6,6.3,6.3,5.9,5.9,...,582.0,32.0,4648.0,5.9,NaN,NaN,NaN,6.09,False,False
256,T20180614001,19,1,NaN,6.5,6.6,6.4,6.3,5.9,6.0,...,581.0,33.4,4652.0,5.9,NaN,NaN,NaN,6.11,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617619,T20200113001,11219,8,34.0,4.6,4.5,4.5,4.5,4.6,4.5,...,NaN,NaN,5111.0,3.8,5849.0,1.0,1.0,4.44,False,False
620501,T20200113001,19455,9,34.0,7.2,7.3,7.6,7.6,8.1,8.2,...,976.0,NaN,7812.0,8.0,7817.0,1.0,1.0,7.84,False,False
620519,T20200113001,19647,9,34.0,6.5,6.6,7.0,7.0,7.6,7.7,...,729.0,NaN,5843.0,7.4,5825.0,1.0,1.0,7.24,False,False
620521,T20200113001,19653,9,34.0,6.6,6.6,7.0,7.1,7.5,7.6,...,726.0,NaN,5808.0,7.4,5817.0,1.0,1.0,7.24,False,False
620533,T20200113001,19689,9,34.0,7.7,7.8,8.2,8.1,8.7,8.8,...,998.0,NaN,7979.0,8.6,7991.0,1.0,1.0,8.43,False,False

In [11]:
ecuvcon[ecuvcon['일치여부2'] == False]['SHIP_ID'].value_counts()

T20180208001     3052
T20201210008     2414
T20191016008     2121
T20180910004     1140
T20180614001      700
T20190527002      620
T20200113001      303
T20190324001      255
T20191119009       90
T20181218003       74
T140128-00703      64
T20201210005       20
T20201110002       14
T140708-00101      10
T20201209001        5
T20181031003        4
T20190115004        3
T20201210002        1
Name: SHIP_ID, dtype: int64

In [12]:
#유닛1:8이 모두 0이고 VOLTAGE도 0이어서 NULL인지, 정상치인지 판단 애매
vcon_nnull = (ecu['V1'] == 0) & (ecu['V2'] == 0) & (ecu['V3'] == 0) & (ecu['V4'] == 0) & (ecu['V5'] == 0) & (ecu['V6'] == 0) & (ecu['V7'] == 0) & (ecu['V8'] == 0) & (ecu['VOLTAGE'] == 0)
ecu[vcon_nnull]

,SHIP_ID,D_INDEX,DEVICE_ID,CONTROL,V1,V2,V3,V4,V5,V6,...,C5,C6,C7,C8,TEMP,CURRENT,VOLTAGE,CONTROL_CURRENT,SYSTEM,SECTION
1,T140113-00102,1,1,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-9999.0,0,0.0,-1,0,0
4,T140128-00703,1,1,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-9999.0,0,0.0,-1,0,0
8,T160127-00202,1,1,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-9999.0,0,0.0,-1,0,0
9,T170102-00101,1,1,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-9999.0,0,0.0,-1,0,0
12,T20181218003,1,1,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-9999.0,0,0.0,-1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618446,T20200113001,17687,8,33,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.0,0,0.0,5827,1,1
618614,T20200113001,309,9,33,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.0,0,0.0,0,1,1
619041,T20200113001,5457,9,33,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.0,0,0.0,5882,1,1
620089,T20200113001,15918,9,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.0,0,0.0,0,1,1
620372,T20200113001,17688,9,33,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.0,0,0.0,5827,1,1

In [23]:
#위의 판단 애매한 값 deballast중인지 확인해보기
opt_d_dd = pd.read_csv('../../../Work/techcross/0318/DATA_DEVICE_DATA_OPTIME.csv')

In [27]:
pd.set_option('display.max_columns', None)
opt_d_dd[(opt_d_dd['DEVICETYPE'] == 1) & (opt_d_dd['ECU_V1'] == 0) & (opt_d_dd['ECU_V2'] == 0) & (opt_d_dd['ECU_V3'] == 0) & (opt_d_dd['ECU_V4'] == 0) & (opt_d_dd['ECU_V5'] == 0) & (opt_d_dd['ECU_V6'] == 0) & (opt_d_dd['ECU_V7'] == 0) & (opt_d_dd['ECU_V8'] == 0) & (opt_d_dd['ECU_VOLTAGE'] == 0) & opt_d_dd['OP_TYPE'] == 1]

,Unnamed: 0,DATA_INDEX,OP_INDEX,DEVICETYPE,DEVICE_ID,D_INDEX,SHIP_ID,SYSTEM,SECTION,ECU_CONTROL,ECU_V1,ECU_V2,ECU_V3,ECU_V4,ECU_V5,ECU_V6,ECU_V7,ECU_V8,ECU_C1,ECU_C2,ECU_C3,ECU_C4,ECU_C5,ECU_C6,ECU_C7,ECU_C8,ECU_TEMP,ECU_CURRENT,ECU_VOLTAGE,ECU_CONTROL_CURRENT,ANU_ALARM,ANU_STATE,ANU_CONTROL,ANU_AMOUNT1,ANU_AMOUNT2,TSU_STATE,TSU_CONTROL,TSU_BP1_CLX1,TSU_BP1_CLX2,TSU_BP2_CLX1,TSU_BP2_CLX2,TSU_BP3_CLX1,TSU_BP3_CLX2,PMU_V1,PMU_V2,PMU_V3,PMU_C1,PMU_C2,PMU_C3,PMU_PSUM,DATA_TIME,CSU,STS,FTS,FMU,TRO,ANU,RATE,CURRENT,VOLTAGE,TRO_COUNT,KEY,OP_TYPE,LINE,START_TIME,END_TIME,RUNNING_TIME,VOLUME,TRO_AVG,ANU_AMOUNT,NORMAL,LATITUDE,LONGITUDE,ALARM_COUNT,FAULT_COUNT,FAULT_CODE,VOYAGE,TOTAL_POWER,FILE_INDEX,MODE,REGION_ID,STATE
1,1,1,1,1,1,1,T140113-00102,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-04 02:45:02,45.31,0.0,36.07,3136.53,0.00,0.0,-1.0,0,0.00,NaN,T140113-00102_0_1,1.0,1.0,2020-05-04 02:45:02,2020-05-04 02:45:13,11.0,0.0,0.00000,0.0,-1.0,34.903167,127.753500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34379.0,NaN
3,3,1,1,1,1,1,T140128-00703,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-23 23:43:43,8.61,0.0,25.99,452.59,0.00,0.0,-1.0,0,0.00,NaN,T140128-00703_0_1,1.0,1.0,2019-12-23 23:43:43,2019-12-23 23:56:19,756.0,91.0,0.00000,0.0,-1.0,29.739667,-95.207167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50846.0,NaN
6,6,1,1,1,1,1,T160127-00202,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-04 20:49:27,31.80,0.0,26.74,945.36,0.00,0.0,-1.0,0,0.00,NaN,T160127-00202_0_1,1.0,1.0,2020-11-04 20:49:16,2020-11-04 20:49:37,21.0,0.0,0.00000,0.0,-1.0,40.540000,-74.252333,1.0,1.0,701.0,NaN,0.001108,NaN,NaN,36553.0,NaN
8,8,1,1,1,1,1,T20190115004,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-24 07:26:30,30.89,0.0,26.56,160.00,0.00,0.0,-1.0,-3,-0.75,NaN,T20190115004_0_1,1.0,1.0,2019-07-24 07:26:30,2019-07-24 07:28:02,0.0,2.0,0.00000,0.0,-1.0,34.353167,134.062833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32590.0,NaN
9,9,1,1,1,1,1,T20190324001,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-27 01:38:54,27.37,0.0,38.79,2004.94,0.00,0.0,-1.0,0,0.00,NaN,T20190324001_0_1,1.0,1.0,2020-02-27 01:38:54,2020-02-27 01:40:59,125.0,66.0,0.00000,0.0,-1.0,33.053500,129.631167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44779.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2134537,2134537,5586,185,1,3,28577,T140110-00206,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-31 02:23:32,51.98,0.0,0.00,289.63,7.27,0.0,-1.0,1850,1.85,NaN,T140110-00206_0_185,1.0,2.0,2020-08-30 17:05:16,2020-08-31 02:23:50,33514.0,3528.0,7.16995,0.0,-1.0,13.722833,121.056833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32887.0,NaN
2134543,2134543,5587,185,1,3,28579,T140110-00206,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-31 02:23:32,51.98,0.0,0.00,289.63,7.27,0.0,-1.0,1850,1.85,NaN,T140110-00206_0_185,1.0,2.0,2020-08-30 17:05:16,2020-08-31 02:23:50,33514.0,3528.0,7.16995,0.0,-1.0,13.722833,121.056833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32887.0,NaN
2134549,2134549,5588,185,1,3,28581,T140110-00206,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-31 02:23:32,51.98,0.0,0.00,289.63,7.27,0.0,-1.0,1850,1.85,NaN,T140110-00206_0_185,1.0,2.0,2020-08-30 17:05:16,2020-08-31 02:23:50,33514.0,3528.0,7.16995,0.0,-1.0,13.722833,121.056833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32887.0,NaN
2134555,2134555,5589,185,1,3,28583,T140110-00206,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-31 02:23:32,51.98,0.0,0.00,289.63,7.27,0.0,-1.0,1850,1.85,NaN,T140110-00206_0_185,1.0,2.0,2020-08-30 17:05:16,2020-08-31 02:23:50,33514.0,3528.0,7.16995,0.0,-1.0,13.722833,121.056833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32887.0,NaN
2134561,2134561,5590,185,1,3,28585,T140110-00206,0,0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-31 02:23:32,51.98,0.0,0.00,289.63,7.27,0.0,-1.0,1850,1.85,NaN,T140110-00206_0_185,1.0,2.0,2020-08-30 17:05:16,2020-08-31 02:23:50,33514.0,3528.0,7.16995,0.0,-1.0,13.722833,121.056833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32887.0,NaN

In [28]:
pd.set_option('display.max_columns', None)
opt_d_dd[(opt_d_dd['DEVICETYPE'] == 1) & (opt_d_dd['OP_TYPE'] == 2)]

Empty DataFrame
Columns: [Unnamed: 0, DATA_INDEX, OP_INDEX, DEVICETYPE, DEVICE_ID, D_INDEX, SHIP_ID, SYSTEM, SECTION, ECU_CONTROL, ECU_V1, ECU_V2, ECU_V3, ECU_V4, ECU_V5, ECU_V6, ECU_V7, ECU_V8, ECU_C1, ECU_C2, ECU_C3, ECU_C4, ECU_C5, ECU_C6, ECU_C7, ECU_C8, ECU_TEMP, ECU_CURRENT, ECU_VOLTAGE, ECU_CONTROL_CURRENT, ANU_ALARM, ANU_STATE, ANU_CONTROL, ANU_AMOUNT1, ANU_AMOUNT2, TSU_STATE, TSU_CONTROL, TSU_BP1_CLX1, TSU_BP1_CLX2, TSU_BP2_CLX1, TSU_BP2_CLX2, TSU_BP3_CLX1, TSU_BP3_CLX2, PMU_V1, PMU_V2, PMU_V3, PMU_C1, PMU_C2, PMU_C3, PMU_PSUM, DATA_TIME, CSU, STS, FTS, FMU, TRO, ANU, RATE, CURRENT, VOLTAGE, TRO_COUNT, KEY, OP_TYPE, LINE, START_TIME, END_TIME, RUNNING_TIME, VOLUME, TRO_AVG, ANU_AMOUNT, NORMAL, LATITUDE, LONGITUDE, ALARM_COUNT, FAULT_COUNT, FAULT_CODE, VOYAGE, TOTAL_POWER, FILE_INDEX, MODE, REGION_ID, STATE]
Index: []

## CURRENT CEHCK

In [38]:
#C1:8 전부 0인것은 제외
ccon = (ecu['C1'] != 0) | (ecu['C2'] != 0) | (ecu['C3'] != 0) | (ecu['C4'] != 0) | (ecu['C5'] != 0) | (ecu['C6'] != 0) | (ecu['C7'] != 0) | (ecu['C8'] != 0)
ecuccon = ecu[ccon]
ecuccon['Csum'] = ecuccon.iloc[:, 12:20].sum(axis=1)
ecuccon['일치여부1'] = ecuccon['CURRENT'] == ecuccon['Csum']
ecuccon

,SHIP_ID,D_INDEX,DEVICE_ID,CONTROL,V1,V2,V3,V4,V5,V6,V7,V8,C1,C2,C3,C4,C5,C6,C7,C8,TEMP,CURRENT,VOLTAGE,CONTROL_CURRENT,SYSTEM,SECTION,Csum,일치여부1
2,T140113-00103,1,1,34,3.8,3.7,3.9,4.0,3.9,4.0,3.9,4.0,736,738,738,739,738,736,736,736,3.9,5897,3.9,5901,0,0,5897,True
3,T140113-00104,1,1,34,3.9,4.0,3.9,4.0,3.3,0.0,3.9,3.9,658,658,657,661,660,4,658,657,3.2,4609,3.8,5306,0,0,4613,False
5,T140703-00101,1,1,0,3.9,3.9,3.9,0.0,0.0,0.0,0.0,0.0,936,943,937,0,0,0,0,0,0.0,2816,3.9,0,0,0,2816,True
7,T141027-00501,1,1,34,4.0,3.9,4.2,4.1,4.0,3.9,3.9,3.8,498,498,498,498,498,498,498,498,3.5,3984,3.9,0,0,0,3984,True
10,T20180208001,1,1,0,4.7,4.6,4.4,4.6,4.3,4.3,4.3,4.2,522,521,522,522,522,522,522,522,16.0,4175,4.4,0,0,0,4175,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620530,T20200113001,19680,9,34,6.4,6.5,6.9,6.9,7.2,7.3,8.0,8.2,718,717,717,717,717,717,718,717,0.0,5738,7.1,5745,1,1,5738,True
620531,T20200113001,19683,9,34,7.1,7.1,7.5,7.5,8.0,8.0,8.8,8.8,846,848,849,847,850,848,850,831,0.0,6769,7.8,8000,1,1,6769,True
620532,T20200113001,19686,9,34,7.6,7.7,8.3,8.2,8.8,8.9,9.7,9.8,989,989,989,990,989,989,989,989,0.0,7913,8.6,7927,1,1,7913,True
620533,T20200113001,19689,9,34,7.7,7.8,8.2,8.1,8.7,8.8,9.7,9.8,998,998,997,997,997,997,997,998,0.0,7979,8.6,7991,1,1,7979,True
620534,T20200113001,19692,9,34,7.6,7.6,8.1,8.1,8.8,8.8,9.6,9.7,995,995,995,995,995,995,995,995,0.0,7960,8.5,7960,1,1,7960,True

In [39]:
ecuccon[ecuccon['일치여부1'] == False]

,SHIP_ID,D_INDEX,DEVICE_ID,CONTROL,V1,V2,V3,V4,V5,V6,V7,V8,C1,C2,C3,C4,C5,C6,C7,C8,TEMP,CURRENT,VOLTAGE,CONTROL_CURRENT,SYSTEM,SECTION,Csum,일치여부1
3,T140113-00104,1,1,34,3.9,4.0,3.9,4.0,3.3,0.0,3.9,3.9,658,658,657,661,660,4,658,657,3.2,4609,3.8,5306,0,0,4613,False
17,T20191016008,1,1,-1,2.5,2.3,0.0,0.0,0.0,0.0,0.0,0.0,119,120,0,0,0,0,0,0,-9999.0,0,0.0,-1,0,0,239,False
47,T140113-00104,4,1,34,3.9,4.0,3.9,4.0,3.3,0.0,3.9,3.9,656,656,656,656,660,4,660,660,3.5,4604,3.8,5250,0,0,4608,False
51,T20180614001,4,1,0,5.0,5.1,3.8,0.0,4.7,4.7,4.2,4.1,364,363,363,1,363,364,364,363,28.7,2544,4.5,0,0,0,2545,False
54,T20191016008,4,1,-1,2.5,2.3,0.0,0.0,0.0,0.0,0.0,0.0,119,120,0,0,0,0,0,0,-9999.0,0,0.0,-1,0,0,239,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620084,T20200113001,15531,9,34,4.3,4.4,4.4,4.4,0.0,3.7,4.4,4.6,732,732,732,732,8,732,733,732,0.0,5125,4.3,5871,1,1,5133,False
620085,T20200113001,15534,9,34,4.3,3.7,4.4,4.4,0.0,3.7,4.4,4.6,735,735,734,735,8,735,734,733,0.0,5141,4.2,5871,1,1,5149,False
620086,T20200113001,15537,9,34,4.3,4.4,4.4,4.4,0.0,3.7,4.4,4.6,731,731,731,731,8,731,731,731,0.0,5117,4.3,5856,1,1,5125,False
620087,T20200113001,15540,9,34,4.3,4.4,4.4,4.4,0.0,3.7,4.4,4.6,738,738,738,738,8,738,738,738,0.0,5166,4.3,5919,1,1,5174,False
620088,T20200113001,15543,9,34,4.3,4.4,4.5,4.4,0.0,3.7,4.4,4.6,733,733,733,733,8,734,733,733,0.0,5132,4.3,5877,1,1,5140,False

In [42]:
ecuccon['일치여부2'] = (ecuccon['CURRENT'] <= (ecuccon['Csum'] + 100)) & (ecuccon['CURRENT'] >= (ecuccon['Csum'] - 100))
ecuccon[ecuccon['일치여부2'] == False]

,SHIP_ID,D_INDEX,DEVICE_ID,CONTROL,V1,V2,V3,V4,V5,V6,V7,V8,C1,C2,C3,C4,C5,C6,C7,C8,TEMP,CURRENT,VOLTAGE,CONTROL_CURRENT,SYSTEM,SECTION,Csum,일치여부1,일치여부2
17,T20191016008,1,1,-1,2.5,2.3,0.0,0.0,0.0,0.0,0.0,0.0,119,120,0,0,0,0,0,0,-9999.0,0,0.0,-1,0,0,239,False,False
54,T20191016008,4,1,-1,2.5,2.3,0.0,0.0,0.0,0.0,0.0,0.0,119,120,0,0,0,0,0,0,-9999.0,0,0.0,-1,0,0,239,False,False
341,T20191016008,25,1,-1,2.5,2.3,0.0,0.0,0.0,0.0,0.0,0.0,119,120,0,0,0,0,0,0,-9999.0,0,0.0,-1,0,0,239,False,False
380,T20191016008,28,1,-1,2.5,2.3,0.0,0.0,0.0,0.0,0.0,0.0,119,120,0,0,0,0,0,0,-9999.0,0,0.0,-1,0,0,239,False,False
662,T20191016008,49,1,-1,2.4,2.2,0.0,0.0,0.0,0.0,0.0,0.0,119,119,0,0,0,0,0,0,-9999.0,0,0.0,-1,0,0,238,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606108,T20180910004,36819,6,-1,3.9,3.9,4.0,4.1,3.8,3.8,3.9,3.9,642,642,642,642,639,644,641,644,-9999.0,4943,3.8,-1,0,0,5136,False,False
606425,T20180910004,37332,6,-1,4.2,4.2,4.3,4.3,4.1,4.1,4.2,4.2,886,886,886,886,886,886,886,885,-9999.0,6086,3.9,-1,0,0,7087,False,False
606539,T20180910004,38001,6,-1,4.0,3.9,4.1,4.1,3.9,4.0,4.0,4.0,883,883,883,883,882,882,883,883,-9999.0,7758,4.0,-1,0,0,7062,False,False
613928,T20180910004,1634,7,-1,3.0,3.0,3.1,0.0,0.0,0.0,0.0,0.0,185,188,189,0,0,0,0,0,-9999.0,1735,3.7,-1,0,0,562,False,False
614062,T20180910004,2466,7,-1,3.9,3.9,4.0,0.0,0.0,0.0,0.0,0.0,711,714,715,0,0,0,0,0,-9999.0,2530,4.1,-1,0,0,2140,False,False

In [43]:
ecuccon[ecuccon['일치여부2'] == False]['SHIP_ID'].value_counts()

T20201210008     2649
T20191119009      392
T20191016008      368
T20180910004      256
T20201210005      251
T20190324001      159
T20181218003      141
T20191014001      123
T140128-00703     110
T20201210002       61
T140708-00101      16
T20181031003       13
T20190115004        3
T20201210006        2
Name: SHIP_ID, dtype: int64

In [44]:
ecu['VOLTAGE'] == 18

count    620535.000000
mean          4.062033
std           1.723727
min          -1.000000
25%           3.700000
50%           4.100000
75%           4.500000
max          18.000000
Name: VOLTAGE, dtype: float64