# ECU SHIP_ID, SECTION, LINE 별로 데이터 분리

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [12]:
#파일 불러오기
ecu = pd.read_csv('../../../Work/techcross/csv/ECU.csv')
opt_d_dd = pd.read_csv('../../../Work/techcross/0318/DATA_DEVICE_DATA_OPTIME.csv')

In [14]:
ecu = opt_d_dd[opt_d_dd['DEVICETYPE'] == 1]

In [19]:
ecu.columns

Index(['Unnamed: 0', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE', 'DEVICE_ID',
       'D_INDEX', 'SHIP_ID', 'SYSTEM', 'SECTION', 'ECU_CONTROL', 'ECU_V1',
       'ECU_V2', 'ECU_V3', 'ECU_V4', 'ECU_V5', 'ECU_V6', 'ECU_V7', 'ECU_V8',
       'ECU_C1', 'ECU_C2', 'ECU_C3', 'ECU_C4', 'ECU_C5', 'ECU_C6', 'ECU_C7',
       'ECU_C8', 'ECU_TEMP', 'ECU_CURRENT', 'ECU_VOLTAGE',
       'ECU_CONTROL_CURRENT', 'ANU_ALARM', 'ANU_STATE', 'ANU_CONTROL',
       'ANU_AMOUNT1', 'ANU_AMOUNT2', 'TSU_STATE', 'TSU_CONTROL',
       'TSU_BP1_CLX1', 'TSU_BP1_CLX2', 'TSU_BP2_CLX1', 'TSU_BP2_CLX2',
       'TSU_BP3_CLX1', 'TSU_BP3_CLX2', 'PMU_V1', 'PMU_V2', 'PMU_V3', 'PMU_C1',
       'PMU_C2', 'PMU_C3', 'PMU_PSUM', 'DATA_TIME', 'CSU', 'STS', 'FTS', 'FMU',
       'TRO', 'ANU', 'RATE', 'CURRENT', 'VOLTAGE', 'TRO_COUNT', 'KEY',
       'OP_TYPE', 'LINE', 'START_TIME', 'END_TIME', 'RUNNING_TIME', 'VOLUME',
       'TRO_AVG', 'ANU_AMOUNT', 'NORMAL', 'LATITUDE', 'LONGITUDE',
       'ALARM_COUNT', 'FAULT_COUNT', 'FAULT_CODE', 'VOYAGE', 'TOTAL_POWER',
       'FILE_INDEX', 'MODE', 'REGION_ID', 'STATE'],
      dtype='object')

In [22]:
#ecu 인덱싱 및 정리
ecu = ecu[['SHIP_ID', 'SECTION', 'LINE', 'DEVICE_ID', 'OP_INDEX', 'DATA_INDEX', 'D_INDEX', 'ECU_V1',
       'ECU_V2', 'ECU_V3', 'ECU_V4', 'ECU_V5', 'ECU_V6', 'ECU_V7', 'ECU_V8',
       'ECU_C1', 'ECU_C2', 'ECU_C3', 'ECU_C4', 'ECU_C5', 'ECU_C6', 'ECU_C7',
       'ECU_C8', 'ECU_TEMP', 'ECU_CURRENT', 'ECU_VOLTAGE',
       'ECU_CONTROL_CURRENT']]
ecu.sort_values(by=['SHIP_ID', 'SECTION', 'LINE', 'DEVICE_ID', 'OP_INDEX', 'DATA_INDEX', 'D_INDEX'], inplace=True)
ecu

,SHIP_ID,SECTION,LINE,DEVICE_ID,OP_INDEX,DATA_INDEX,D_INDEX,ECU_V1,ECU_V2,ECU_V3,...,ECU_C3,ECU_C4,ECU_C5,ECU_C6,ECU_C7,ECU_C8,ECU_TEMP,ECU_CURRENT,ECU_VOLTAGE,ECU_CONTROL_CURRENT
1029,T140110-00206,0,1.0,1,11,1,41,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0
52644,T140110-00206,0,1.0,1,11,2,43,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,1016.0,3.5,-1.0
87139,T140110-00206,0,1.0,1,11,3,45,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,1111.0,3.6,-1.0
1305,T140110-00206,0,1.0,1,14,1,105,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,0.0,0.0,-1.0
52901,T140110-00206,0,1.0,1,14,2,107,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,1408.0,3.8,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201406,UnkownShip,2,NaN,3,1,7,21,3.9,4.0,4.0,...,550.0,549.0,549.0,549.0,549.0,549.0,41.0,4393.0,3.9,4400.0
226914,UnkownShip,2,NaN,3,1,8,24,3.3,3.5,3.5,...,282.0,282.0,282.0,282.0,282.0,282.0,41.0,2256.0,3.4,2267.0
251503,UnkownShip,2,NaN,3,1,9,27,3.9,4.0,4.1,...,566.0,566.0,566.0,566.0,567.0,567.0,41.0,4530.0,4.0,4542.0
275241,UnkownShip,2,NaN,3,1,10,30,3.9,4.0,4.1,...,564.0,564.0,564.0,564.0,565.0,565.0,41.0,4514.0,4.0,4523.0
297816,UnkownShip,2,NaN,3,1,11,33,3.9,4.0,4.0,...,567.0,567.0,567.0,567.0,567.0,568.0,41.0,4537.0,4.0,4545.0

In [28]:
#배 id 리스트
temp = ecu['SHIP_ID'].unique()
temp.tolist()

['T140110-00206',
 'T140113-00101',
 'T140113-00102',
 'T140113-00103',
 'T140113-00104',
 'T140128-00703',
 'T140703-00101',
 'T140708-00101',
 'T141027-00501',
 'T160127-00202',
 'T170102-00101',
 'T20180208001',
 'T20180614001',
 'T20180910004',
 'T20181031003',
 'T20181218003',
 'T20190115004',
 'T20190324001',
 'T20190527002',
 'T20191014001',
 'T20191016008',
 'T20191119009',
 'T20200113001',
 'T20200218004',
 'T20200603001',
 'T20201110002',
 'T20201209001',
 'T20201210002',
 'T20201210003',
 'T20201210004',
 'T20201210005',
 'T20201210006',
 'T20201210008',
 'T20210521011',
 'UnkownShip']

In [50]:
ecu['key'] = ecu['SHIP_ID'] + '_' + ecu['SECTION'].astype(str) + '_' + ecu['LINE'].astype(str)

In [71]:
ecukeylist = ecu['key'].unique().tolist()

In [94]:
temlist = []

In [95]:
for _ in range(0, len(ecukeylist)):
    temlist.append(f'ecutemp{_}')

In [96]:
temlist

['ecutemp0',
 'ecutemp1',
 'ecutemp2',
 'ecutemp3',
 'ecutemp4',
 'ecutemp5',
 'ecutemp6',
 'ecutemp7',
 'ecutemp8',
 'ecutemp9',
 'ecutemp10',
 'ecutemp11',
 'ecutemp12',
 'ecutemp13',
 'ecutemp14',
 'ecutemp15',
 'ecutemp16',
 'ecutemp17',
 'ecutemp18',
 'ecutemp19',
 'ecutemp20',
 'ecutemp21',
 'ecutemp22',
 'ecutemp23',
 'ecutemp24',
 'ecutemp25',
 'ecutemp26',
 'ecutemp27',
 'ecutemp28',
 'ecutemp29',
 'ecutemp30',
 'ecutemp31',
 'ecutemp32',
 'ecutemp33',
 'ecutemp34',
 'ecutemp35',
 'ecutemp36',
 'ecutemp37',
 'ecutemp38',
 'ecutemp39',
 'ecutemp40',
 'ecutemp41',
 'ecutemp42',
 'ecutemp43',
 'ecutemp44',
 'ecutemp45',
 'ecutemp46',
 'ecutemp47',
 'ecutemp48',
 'ecutemp49',
 'ecutemp50',
 'ecutemp51',
 'ecutemp52',
 'ecutemp53',
 'ecutemp54',
 'ecutemp55',
 'ecutemp56',
 'ecutemp57',
 'ecutemp58',
 'ecutemp59',
 'ecutemp60',
 'ecutemp61',
 'ecutemp62',
 'ecutemp63',
 'ecutemp64',
 'ecutemp65',
 'ecutemp66',
 'ecutemp67',
 'ecutemp68',
 'ecutemp69',
 'ecutemp70',
 'ecutemp71',
 'ecutemp72',
 'ecutemp73',
 'ecutemp74',
 'ecutemp75',
 'ecutemp76',
 'ecutemp77',
 'ecutemp78',
 'ecutemp79',
 'ecutemp80']

In [110]:
for _ in range(0, len(ecukeylist)):
    temlist[_] = ecu[ecu['key'] == ecukeylist[_]]
    temlist[_].to_csv(f'ecutemp{_}.csv', mode='w')