<a href="https://colab.research.google.com/github/AnnJungChan/TECHLOSS_SIGNLAB/blob/main/DATA/DATA_JOIN_DATA_DEVICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 패키지 로딩

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import numpy as np
import pandas as pd

Mounted at /content/gdrive

# 데이터 로딩

In [ ]:
ECU = pd.read_csv('/content/gdrive/MyDrive/DB/ECU.csv')
ANU = pd.read_csv('/content/gdrive/MyDrive/DB/ANU.csv')
TSU = pd.read_csv('/content/gdrive/MyDrive/DB/TSU.csv')
PMU = pd.read_csv('/content/gdrive/MyDrive/DB/PMU.csv')
DATA_DEVICE = pd.read_csv('/content/gdrive/MyDrive/DB/DATA_DEVICE.csv')
DATA = pd.read_csv('/content/gdrive/MyDrive/DB/DATA.csv')

# ANU,TSU,PMU,ECU JOIN DATA_DEVICE

- DATA_DEVICE를 DEVICETYPE별로 4개로 나눈후, 각각을 ECU, ANU, TSU, PMU에 INNER JOIN을 실시하였음

- 하나의 DATA_DEVICE 테이블을 4개로 나누는 작업임.

In [ ]:
ECU['DDKEY'] = ECU['SHIP_ID'] + "_" + ECU['SECTION'].astype(str) + "_" + ECU['D_INDEX'].astype(str) + "_" + ECU['DEVICE_ID'].astype(str)
ANU['DDKEY'] = ANU['SHIP_ID'] + "_" + ANU['SECTION'].astype(str) + "_" + ANU['D_INDEX'].astype(str) + "_" + ANU['DEVICE_ID'].astype(str)
TSU['DDKEY'] = TSU['SHIP_ID'] + "_" + TSU['SECTION'].astype(str) + "_" + TSU['D_INDEX'].astype(str) + "_" + TSU['DEVICE_ID'].astype(str)
PMU['DDKEY'] = PMU['SHIP_ID'] + "_" + PMU['SECTION'].astype(str) + "_" + PMU['D_INDEX'].astype(str) + "_" + PMU['DEVICE_ID'].astype(str)
DATA_DEVICE['DDKEY'] = DATA_DEVICE['SHIP_ID'] + "_" + DATA_DEVICE['SECTION'].astype(str) + "_" + DATA_DEVICE['D_INDEX'].astype(str) + "_" + DATA_DEVICE['DEVICE_ID'].astype(str)

In [ ]:
DATA_DEVICE_ECU=DATA_DEVICE.loc[DATA_DEVICE['DEVICETYPE']==1,:]
DATA_DEVICE_ANU=DATA_DEVICE.loc[DATA_DEVICE['DEVICETYPE']==2,:]
DATA_DEVICE_TSU=DATA_DEVICE.loc[DATA_DEVICE['DEVICETYPE']==3,:]
DATA_DEVICE_PMU=DATA_DEVICE.loc[DATA_DEVICE['DEVICETYPE']==4,:]

In [ ]:
DDECU = pd.merge(ECU,DATA_DEVICE_ECU, how = 'inner', on = 'DDKEY')
DDECU=DDECU.drop(columns = ['DEVICE_ID_y','D_INDEX_y','SHIP_ID_y','SYSTEM_y','SECTION_y','DDKEY'])
DDECU=DDECU.rename(columns = {'SHIP_ID_x' : 'SHIP_ID', 'D_INDEX_x' : 'D_INDEX', 'DEVICE_ID_x' : 'DEVICE_ID', 'SYSTEM_x' : 'SYSTEM', 'SECTION_x':'SECTION'})

DDANU = pd.merge(ANU,DATA_DEVICE_ANU, how = 'inner', on = 'DDKEY')
DDANU=DDANU.drop(columns = ['DEVICE_ID_y','D_INDEX_y','SHIP_ID_y','SYSTEM_y','SECTION_y','DDKEY'])
DDANU=DDANU.rename(columns = {'SHIP_ID_x' : 'SHIP_ID', 'D_INDEX_x' : 'D_INDEX', 'DEVICE_ID_x' : 'DEVICE_ID', 'SYSTEM_x' : 'SYSTEM', 'SECTION_x':'SECTION'})

DDPMU = pd.merge(PMU,DATA_DEVICE_PMU, how = 'inner', on = 'DDKEY')
DDPMU=DDPMU.drop(columns = ['DEVICE_ID_y','D_INDEX_y','SHIP_ID_y','SYSTEM_y','SECTION_y','DDKEY'])
DDPMU=DDPMU.rename(columns = {'SHIP_ID_x' : 'SHIP_ID', 'D_INDEX_x' : 'D_INDEX', 'DEVICE_ID_x' : 'DEVICE_ID', 'SYSTEM_x' : 'SYSTEM', 'SECTION_x':'SECTION'})

DDTSU = pd.merge(TSU,DATA_DEVICE_TSU, how = 'inner', on = 'DDKEY')
DDTSU=DDTSU.drop(columns = ['DEVICE_ID_y','D_INDEX_y','SHIP_ID_y','SYSTEM_y','SECTION_y','DDKEY'])
DDTSU=DDTSU.rename(columns = {'SHIP_ID_x' : 'SHIP_ID', 'D_INDEX_x' : 'D_INDEX', 'DEVICE_ID_x' : 'DEVICE_ID', 'SYSTEM_x' : 'SYSTEM', 'SECTION_x':'SECTION'})

# DEVICE_ID별 테이블 분할

- DATA_DEVICE테이블을 DEVICETYPE별로 4개로 나눈 각각의 테이블을 ECU, ANU, PMU, TSU 테이블과 병합시켰음

- 병합시킨 4개의 테이블에 대해서, 다시 각각의 DEVICE_ID별로 테이블을 나눠서, ECU 테이블은 9개, ANU 테이블은 8개, PMU 테이블은 10개, TSU 테이블은 2개로 나눔

In [ ]:
print(DDECU['DEVICE_ID'].unique())
print(DDANU['DEVICE_ID'].unique())
print(DDPMU['DEVICE_ID'].unique())
print(DDTSU['DEVICE_ID'].unique())

[1 2 3 4 5 6 7 8 9]
[1 2 3 4 5 6 7 8]
[ 1  2  3  4  5  6  7  8  9 10]
[1 2]

In [ ]:
DDECU_1 = DDECU.loc[DDECU['DEVICE_ID'] == 1,:]
DDECU_1['KEY']=DDECU_1['SHIP_ID'] + "_" + DDECU_1['SECTION'].astype(str) + "_" + DDECU_1['OP_INDEX'].astype(str) + "_" + DDECU_1['DATA_INDEX'].astype(str)
DDECU_1 = DDECU_1.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_1=DDECU_1.drop_duplicates(['KEY'])
DDECU_1.rename(columns = lambda x: "ECU1_" + x, inplace = True)
DDECU_1.rename(columns = {'ECU1_KEY' : 'KEY'},inplace=True)

DDECU_2 = DDECU.loc[DDECU['DEVICE_ID'] == 2,:]
DDECU_2['KEY']=DDECU_2['SHIP_ID'] + "_" + DDECU_2['SECTION'].astype(str) + "_" + DDECU_2['OP_INDEX'].astype(str) + "_" + DDECU_2['DATA_INDEX'].astype(str)
DDECU_2 = DDECU_2.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_2=DDECU_2.drop_duplicates(['KEY'])
DDECU_2.rename(columns = lambda x: "ECU2_" + x, inplace = True)
DDECU_2.rename(columns = {'ECU2_KEY' : 'KEY'},inplace=True)

DDECU_3 = DDECU.loc[DDECU['DEVICE_ID'] == 3,:]
DDECU_3['KEY']=DDECU_3['SHIP_ID'] + "_" + DDECU_3['SECTION'].astype(str) + "_" + DDECU_3['OP_INDEX'].astype(str) + "_" + DDECU_3['DATA_INDEX'].astype(str)
DDECU_3 = DDECU_3.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_3=DDECU_3.drop_duplicates(['KEY'])
DDECU_3.rename(columns = lambda x: "ECU3_" + x, inplace = True)
DDECU_3.rename(columns = {'ECU3_KEY' : 'KEY'},inplace=True)

DDECU_4 = DDECU.loc[DDECU['DEVICE_ID'] == 4,:]
DDECU_4['KEY']=DDECU_4['SHIP_ID'] + "_" + DDECU_4['SECTION'].astype(str) + "_" + DDECU_4['OP_INDEX'].astype(str) + "_" + DDECU_4['DATA_INDEX'].astype(str)
DDECU_4 = DDECU_4.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_4=DDECU_4.drop_duplicates(['KEY'])
DDECU_4.rename(columns = lambda x: "ECU4_" + x, inplace = True)
DDECU_4.rename(columns = {'ECU4_KEY' : 'KEY'},inplace=True)

DDECU_5 = DDECU.loc[DDECU['DEVICE_ID'] == 5,:]
DDECU_5['KEY']=DDECU_5['SHIP_ID'] + "_" + DDECU_5['SECTION'].astype(str) + "_" + DDECU_5['OP_INDEX'].astype(str) + "_" + DDECU_5['DATA_INDEX'].astype(str)
DDECU_5 = DDECU_5.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_5=DDECU_5.drop_duplicates(['KEY'])
DDECU_5.rename(columns = lambda x: "ECU5_" + x, inplace = True)
DDECU_5.rename(columns = {'ECU5_KEY' : 'KEY'},inplace=True)

DDECU_6 = DDECU.loc[DDECU['DEVICE_ID'] == 6,:]
DDECU_6['KEY']=DDECU_6['SHIP_ID'] + "_" + DDECU_6['SECTION'].astype(str) + "_" + DDECU_6['OP_INDEX'].astype(str) + "_" + DDECU_6['DATA_INDEX'].astype(str)
DDECU_6 = DDECU_6.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_6=DDECU_6.drop_duplicates(['KEY'])
DDECU_6.rename(columns = lambda x: "ECU6_" + x, inplace = True)
DDECU_6.rename(columns = {'ECU6_KEY' : 'KEY'},inplace=True)

DDECU_7 = DDECU.loc[DDECU['DEVICE_ID'] == 7,:]
DDECU_7['KEY']=DDECU_7['SHIP_ID'] + "_" + DDECU_7['SECTION'].astype(str) + "_" + DDECU_7['OP_INDEX'].astype(str) + "_" + DDECU_7['DATA_INDEX'].astype(str)
DDECU_7 = DDECU_7.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_7=DDECU_7.drop_duplicates(['KEY'])
DDECU_7.rename(columns = lambda x: "ECU7_" + x, inplace = True)
DDECU_7.rename(columns = {'ECU7_KEY' : 'KEY'},inplace=True)

DDECU_8 = DDECU.loc[DDECU['DEVICE_ID'] == 8,:]
DDECU_8['KEY']=DDECU_8['SHIP_ID'] + "_" + DDECU_8['SECTION'].astype(str) + "_" + DDECU_8['OP_INDEX'].astype(str) + "_" + DDECU_8['DATA_INDEX'].astype(str)
DDECU_8 = DDECU_8.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_8=DDECU_8.drop_duplicates(['KEY'])
DDECU_8.rename(columns = lambda x: "ECU8_" + x, inplace = True)
DDECU_8.rename(columns = {'ECU8_KEY' : 'KEY'},inplace=True)

DDECU_9 = DDECU.loc[DDECU['DEVICE_ID'] == 9,:]
DDECU_9['KEY']=DDECU_9['SHIP_ID'] + "_" + DDECU_9['SECTION'].astype(str) + "_" + DDECU_9['OP_INDEX'].astype(str) + "_" + DDECU_9['DATA_INDEX'].astype(str)
DDECU_9 = DDECU_9.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDECU_9=DDECU_9.drop_duplicates(['KEY'])
DDECU_9.rename(columns = lambda x: "ECU9_" + x, inplace = True)
DDECU_9.rename(columns = {'ECU9_KEY' : 'KEY'},inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
DDANU_1 = DDANU.loc[DDANU['DEVICE_ID'] == 1,:]
DDANU_1['KEY']=DDANU_1['SHIP_ID'] + "_" + DDANU_1['SECTION'].astype(str) + "_" + DDANU_1['OP_INDEX'].astype(str) + "_" + DDANU_1['DATA_INDEX'].astype(str)
DDANU_1 = DDANU_1.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDANU_1=DDANU_1.drop_duplicates(['KEY'])
DDANU_1.rename(columns = lambda x: "ANU1_" + x, inplace = True)
DDANU_1.rename(columns = {'ANU1_KEY' : 'KEY'},inplace=True)

DDANU_2 = DDANU.loc[DDANU['DEVICE_ID'] == 2,:]
DDANU_2['KEY']=DDANU_2['SHIP_ID'] + "_" + DDANU_2['SECTION'].astype(str) + "_" + DDANU_2['OP_INDEX'].astype(str) + "_" + DDANU_2['DATA_INDEX'].astype(str)
DDANU_2 = DDANU_2.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDANU_2=DDANU_2.drop_duplicates(['KEY'])
DDANU_2.rename(columns = lambda x: "ANU2_" + x, inplace = True)
DDANU_2.rename(columns = {'ANU2_KEY' : 'KEY'},inplace=True)

DDANU_3 = DDANU.loc[DDANU['DEVICE_ID'] == 3,:]
DDANU_3['KEY']=DDANU_3['SHIP_ID'] + "_" + DDANU_3['SECTION'].astype(str) + "_" + DDANU_3['OP_INDEX'].astype(str) + "_" + DDANU_3['DATA_INDEX'].astype(str)
DDANU_3 = DDANU_3.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDANU_3=DDANU_3.drop_duplicates(['KEY'])
DDANU_3.rename(columns = lambda x: "ANU3_" + x, inplace = True)
DDANU_3.rename(columns = {'ANU3_KEY' : 'KEY'},inplace=True)

DDANU_4 = DDANU.loc[DDANU['DEVICE_ID'] == 4,:]
DDANU_4['KEY']=DDANU_4['SHIP_ID'] + "_" + DDANU_4['SECTION'].astype(str) + "_" + DDANU_4['OP_INDEX'].astype(str) + "_" + DDANU_4['DATA_INDEX'].astype(str)
DDANU_4 = DDANU_4.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDANU_4=DDANU_4.drop_duplicates(['KEY'])
DDANU_4.rename(columns = lambda x: "ANU4_" + x, inplace = True)
DDANU_4.rename(columns = {'ANU4_KEY' : 'KEY'},inplace=True)

DDANU_5 = DDANU.loc[DDANU['DEVICE_ID'] == 5,:]
DDANU_5['KEY']=DDANU_5['SHIP_ID'] + "_" + DDANU_5['SECTION'].astype(str) + "_" + DDANU_5['OP_INDEX'].astype(str) + "_" + DDANU_5['DATA_INDEX'].astype(str)
DDANU_5 = DDANU_5.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDANU_5=DDANU_5.drop_duplicates(['KEY'])
DDANU_5.rename(columns = lambda x: "ANU5_" + x, inplace = True)
DDANU_5.rename(columns = {'ANU5_KEY' : 'KEY'},inplace=True)

DDANU_6 = DDANU.loc[DDANU['DEVICE_ID'] == 6,:]
DDANU_6['KEY']=DDANU_6['SHIP_ID'] + "_" + DDANU_6['SECTION'].astype(str) + "_" + DDANU_6['OP_INDEX'].astype(str) + "_" + DDANU_6['DATA_INDEX'].astype(str)
DDANU_6 = DDANU_6.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDANU_6=DDANU_6.drop_duplicates(['KEY'])
DDANU_6.rename(columns = lambda x: "ANU6_" + x, inplace = True)
DDANU_6.rename(columns = {'ANU6_KEY' : 'KEY'},inplace=True)

DDANU_7 = DDANU.loc[DDANU['DEVICE_ID'] == 7,:]
DDANU_7['KEY']=DDANU_7['SHIP_ID'] + "_" + DDANU_7['SECTION'].astype(str) + "_" + DDANU_7['OP_INDEX'].astype(str) + "_" + DDANU_7['DATA_INDEX'].astype(str)
DDANU_7 = DDANU_7.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDANU_7=DDANU_7.drop_duplicates(['KEY'])
DDANU_7.rename(columns = lambda x: "ANU7_" + x, inplace = True)
DDANU_7.rename(columns = {'ANU7_KEY' : 'KEY'},inplace=True)

DDANU_8 = DDANU.loc[DDANU['DEVICE_ID'] == 8,:]
DDANU_8['KEY']=DDANU_8['SHIP_ID'] + "_" + DDANU_8['SECTION'].astype(str) + "_" + DDANU_8['OP_INDEX'].astype(str) + "_" + DDANU_8['DATA_INDEX'].astype(str)
DDANU_8 = DDANU_8.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDANU_8=DDANU_8.drop_duplicates(['KEY'])
DDANU_8.rename(columns = lambda x: "ANU8_" + x, inplace = True)
DDANU_8.rename(columns = {'ANU8_KEY' : 'KEY'},inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
DDPMU_1 = DDPMU.loc[DDPMU['DEVICE_ID'] == 1,:]
DDPMU_1['KEY']=DDPMU_1['SHIP_ID'] + "_" + DDPMU_1['SECTION'].astype(str) + "_" + DDPMU_1['OP_INDEX'].astype(str) + "_" + DDPMU_1['DATA_INDEX'].astype(str)
DDPMU_1 = DDPMU_1.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_1=DDPMU_1.drop_duplicates(['KEY'])
DDPMU_1.rename(columns = lambda x: "PMU1_" + x, inplace = True)
DDPMU_1.rename(columns = {'PMU1_KEY' : 'KEY'},inplace=True)

DDPMU_2 = DDPMU.loc[DDPMU['DEVICE_ID'] == 2,:]
DDPMU_2['KEY']=DDPMU_2['SHIP_ID'] + "_" + DDPMU_2['SECTION'].astype(str) + "_" + DDPMU_2['OP_INDEX'].astype(str) + "_" + DDPMU_2['DATA_INDEX'].astype(str)
DDPMU_2 = DDPMU_2.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_2=DDPMU_2.drop_duplicates(['KEY'])
DDPMU_2.rename(columns = lambda x: "PMU2_" + x, inplace = True)
DDPMU_2.rename(columns = {'PMU2_KEY' : 'KEY'},inplace=True)

DDPMU_3 = DDPMU.loc[DDPMU['DEVICE_ID'] == 3,:]
DDPMU_3['KEY']=DDPMU_3['SHIP_ID'] + "_" + DDPMU_3['SECTION'].astype(str) + "_" + DDPMU_3['OP_INDEX'].astype(str) + "_" + DDPMU_3['DATA_INDEX'].astype(str)
DDPMU_3 = DDPMU_3.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_3=DDPMU_3.drop_duplicates(['KEY'])
DDPMU_3.rename(columns = lambda x: "PMU3_" + x, inplace = True)
DDPMU_3.rename(columns = {'PMU3_KEY' : 'KEY'},inplace=True)

DDPMU_4 = DDPMU.loc[DDPMU['DEVICE_ID'] == 4,:]
DDPMU_4['KEY']=DDPMU_4['SHIP_ID'] + "_" + DDPMU_4['SECTION'].astype(str) + "_" + DDPMU_4['OP_INDEX'].astype(str) + "_" + DDPMU_4['DATA_INDEX'].astype(str)
DDPMU_4 = DDPMU_4.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_4=DDPMU_4.drop_duplicates(['KEY'])
DDPMU_4.rename(columns = lambda x: "PMU4_" + x, inplace = True)
DDPMU_4.rename(columns = {'PMU4_KEY' : 'KEY'},inplace=True)

DDPMU_5 = DDPMU.loc[DDPMU['DEVICE_ID'] == 5,:]
DDPMU_5['KEY']=DDPMU_5['SHIP_ID'] + "_" + DDPMU_5['SECTION'].astype(str) + "_" + DDPMU_5['OP_INDEX'].astype(str) + "_" + DDPMU_5['DATA_INDEX'].astype(str)
DDPMU_5 = DDPMU_5.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_5=DDPMU_5.drop_duplicates(['KEY'])
DDPMU_5.rename(columns = lambda x: "PMU5_" + x, inplace = True)
DDPMU_5.rename(columns = {'PMU5_KEY' : 'KEY'},inplace=True)

DDPMU_6 = DDPMU.loc[DDPMU['DEVICE_ID'] == 6,:]
DDPMU_6['KEY']=DDPMU_6['SHIP_ID'] + "_" + DDPMU_6['SECTION'].astype(str) + "_" + DDPMU_6['OP_INDEX'].astype(str) + "_" + DDPMU_6['DATA_INDEX'].astype(str)
DDPMU_6 = DDPMU_6.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_6=DDPMU_6.drop_duplicates(['KEY'])
DDPMU_6.rename(columns = lambda x: "PMU6_" + x, inplace = True)
DDPMU_6.rename(columns = {'PMU6_KEY' : 'KEY'},inplace=True)

DDPMU_7 = DDPMU.loc[DDPMU['DEVICE_ID'] == 7,:]
DDPMU_7['KEY']=DDPMU_7['SHIP_ID'] + "_" + DDPMU_7['SECTION'].astype(str) + "_" + DDPMU_7['OP_INDEX'].astype(str) + "_" + DDPMU_7['DATA_INDEX'].astype(str)
DDPMU_7 = DDPMU_7.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_7=DDPMU_7.drop_duplicates(['KEY'])
DDPMU_7.rename(columns = lambda x: "PMU7_" + x, inplace = True)
DDPMU_7.rename(columns = {'PMU7_KEY' : 'KEY'},inplace=True)

DDPMU_8 = DDPMU.loc[DDPMU['DEVICE_ID'] == 8,:]
DDPMU_8['KEY']=DDPMU_8['SHIP_ID'] + "_" + DDPMU_8['SECTION'].astype(str) + "_" + DDPMU_8['OP_INDEX'].astype(str) + "_" + DDPMU_8['DATA_INDEX'].astype(str)
DDPMU_8 = DDPMU_8.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_8=DDPMU_8.drop_duplicates(['KEY'])
DDPMU_8.rename(columns = lambda x: "PMU8_" + x, inplace = True)
DDPMU_8.rename(columns = {'PMU8_KEY' : 'KEY'},inplace=True)

DDPMU_9 = DDPMU.loc[DDPMU['DEVICE_ID'] == 9,:]
DDPMU_9['KEY']=DDPMU_9['SHIP_ID'] + "_" + DDPMU_9['SECTION'].astype(str) + "_" + DDPMU_9['OP_INDEX'].astype(str) + "_" + DDPMU_9['DATA_INDEX'].astype(str)
DDPMU_9 = DDPMU_9.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_9=DDPMU_9.drop_duplicates(['KEY'])
DDPMU_9.rename(columns = lambda x: "PMU9_" + x, inplace = True)
DDPMU_9.rename(columns = {'PMU9_KEY' : 'KEY'},inplace=True)

DDPMU_10 = DDPMU.loc[DDPMU['DEVICE_ID'] == 10,:]
DDPMU_10['KEY']=DDPMU_10['SHIP_ID'] + "_" + DDPMU_10['SECTION'].astype(str) + "_" + DDPMU_10['OP_INDEX'].astype(str) + "_" + DDPMU_10['DATA_INDEX'].astype(str)
DDPMU_10 = DDPMU_10.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDPMU_10=DDPMU_10.drop_duplicates(['KEY'])
DDPMU_10.rename(columns = lambda x: "PMU10_" + x, inplace = True)
DDPMU_10.rename(columns = {'PMU10_KEY' : 'KEY'},inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
DDTSU_1 = DDTSU.loc[DDTSU['DEVICE_ID'] == 1,:]
DDTSU_1['KEY']=DDTSU_1['SHIP_ID'] + "_" + DDTSU_1['SECTION'].astype(str) + "_" + DDTSU_1['OP_INDEX'].astype(str) + "_" + DDTSU_1['DATA_INDEX'].astype(str)
DDTSU_1 = DDTSU_1.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDTSU_1=DDTSU_1.drop_duplicates(['KEY'])
DDTSU_1.rename(columns = lambda x: "TSU1_" + x, inplace = True)
DDTSU_1.rename(columns = {'TSU1_KEY' : 'KEY'},inplace=True)

DDTSU_2 = DDTSU.loc[DDTSU['DEVICE_ID'] == 2,:]
DDTSU_2['KEY']=DDTSU_2['SHIP_ID'] + "_" + DDTSU_2['SECTION'].astype(str) + "_" + DDTSU_2['OP_INDEX'].astype(str) + "_" + DDTSU_2['DATA_INDEX'].astype(str)
DDTSU_2 = DDTSU_2.drop(columns = ['SHIP_ID', 'D_INDEX', 'DEVICE_ID', 'SYSTEM', 'SECTION', 'DATA_INDEX', 'OP_INDEX', 'DEVICETYPE'])
DDTSU_2=DDTSU_2.drop_duplicates(['KEY'])
DDTSU_2.rename(columns = lambda x: "TSU2_" + x, inplace = True)
DDTSU_2.rename(columns = {'TSU2_KEY' : 'KEY'},inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

# DATA JOIN DATA_DEVICE

- ECU 테이블은 9개, ANU 테이블은 8개, PMU 테이블은 10개, TSU 테이블은 2개로 나누었음

- 이 각각의 테이블을 LEFT JOIN을 기준으로 열을 늘리는 방식으로 테이블을 늘림

- LEFT JOIN의 기준은 DATA 테이블이며, 결론적으로 행의수는 DATA테이블과 똑같음. 다만, 열의 갯수가 매우 많이 늘어나는 현상이 발생.

- 열이 많이 늘어나는 이유는 DATA_DEVICE를 29개의 테이블로 나눈 후, LEFT JOIN을 시켰기 때문임.

In [ ]:
DATA['KEY']=DATA['SHIP_ID'] + "_" + DATA['SECTION'].astype(str) + "_" + DATA['OP_INDEX'].astype(str) + "_" + DATA['DATA_INDEX'].astype(str)

In [ ]:
DATA1=pd.merge(DATA,DDECU_1,how='left', on = 'KEY')
DATA2=pd.merge(DATA,DDECU_2,how='left', on = 'KEY')
DATA3=pd.merge(DATA,DDECU_3,how='left', on = 'KEY')
DATA4=pd.merge(DATA,DDECU_4,how='left', on = 'KEY')
DATA5=pd.merge(DATA,DDECU_5,how='left', on = 'KEY')
DATA6=pd.merge(DATA,DDECU_6,how='left', on = 'KEY')
DATA7=pd.merge(DATA,DDECU_7,how='left', on = 'KEY')
DATA8=pd.merge(DATA,DDECU_8,how='left', on = 'KEY')
DATA9=pd.merge(DATA,DDECU_9,how='left', on = 'KEY')

DATA11=pd.merge(DATA,DDANU_1,how='left', on = 'KEY')
DATA12=pd.merge(DATA,DDANU_2,how='left', on = 'KEY')
DATA13=pd.merge(DATA,DDANU_3,how='left', on = 'KEY')
DATA14=pd.merge(DATA,DDANU_4,how='left', on = 'KEY')
DATA15=pd.merge(DATA,DDANU_5,how='left', on = 'KEY')
DATA16=pd.merge(DATA,DDANU_6,how='left', on = 'KEY')
DATA17=pd.merge(DATA,DDANU_7,how='left', on = 'KEY')
DATA18=pd.merge(DATA,DDANU_8,how='left', on = 'KEY')


DATA21=pd.merge(DATA,DDPMU_1,how='left', on = 'KEY')
DATA22=pd.merge(DATA,DDPMU_2,how='left', on = 'KEY')
DATA23=pd.merge(DATA,DDPMU_3,how='left', on = 'KEY')
DATA24=pd.merge(DATA,DDPMU_4,how='left', on = 'KEY')
DATA25=pd.merge(DATA,DDPMU_5,how='left', on = 'KEY')
DATA26=pd.merge(DATA,DDPMU_6,how='left', on = 'KEY')
DATA27=pd.merge(DATA,DDPMU_7,how='left', on = 'KEY')
DATA28=pd.merge(DATA,DDPMU_8,how='left', on = 'KEY')
DATA29=pd.merge(DATA,DDPMU_9,how='left', on = 'KEY')
DATA210=pd.merge(DATA,DDPMU_10,how='left', on = 'KEY')

DATA31=pd.merge(DATA,DDTSU_1,how='left', on = 'KEY')
DATA32=pd.merge(DATA,DDTSU_2,how='left', on = 'KEY')


DATA1 = DATA1.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA2 = DATA2.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA3 = DATA3.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA4 = DATA4.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA5 = DATA5.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA6 = DATA6.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA7 = DATA7.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA8 = DATA8.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA9 = DATA9.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])

DATA11 = DATA11.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA12 = DATA12.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA13 = DATA13.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA14 = DATA14.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA15 = DATA15.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA16 = DATA16.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA17 = DATA17.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA18 = DATA18.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])

DATA21 = DATA21.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA22 = DATA22.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA23 = DATA23.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA24 = DATA24.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA25 = DATA25.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA26 = DATA26.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA27 = DATA27.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA28 = DATA28.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA29 = DATA29.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA210 = DATA210.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])

DATA31 = DATA31.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])
DATA32 = DATA32.drop(columns = ['OP_INDEX',	'DATA_INDEX',	'DATA_TIME',	'CSU',	'STS',	'FTS',	'FMU',	'TRO',	'ANU',	'RATE',	'CURRENT',	'VOLTAGE'	,'TRO_COUNT',	'SHIP_ID',	'SYSTEM',	'SECTION',	'KEY'])

In [ ]:
DATA_DATA_DEVICE=pd.concat([DATA,
           DATA1,
           DATA2,
           DATA3,
           DATA4,
           DATA5,
           DATA6,
           DATA7,
           DATA8,
           DATA9,
           DATA11,
           DATA12,
           DATA13,
           DATA14,
           DATA15,
           DATA16,
           DATA17,
           DATA18,
           DATA21,
           DATA22,
           DATA23,
           DATA24,
           DATA25,
           DATA26,
           DATA27,
           DATA28,
           DATA29,
           DATA210,
           DATA31,
           DATA32],axis = 1)

# 저장

- CSV 저장
- SQL 저장

In [ ]:
DATA_DATA_DEVICE.to_csv("DATA_DATA_DEVICE.csv")

In [ ]:
import sqlite3
import pandas as pd
connection = sqlite3.connect('./DATA_DATA_DEVICE.sqlite')
DATA_DATA_DEVICE.to_sql('DATA_DATA_DEVICE',connection )
connection.commit()
connection.close()

In [ ]:
DATA_DATA_DEVICE

,OP_INDEX,DATA_INDEX,DATA_TIME,CSU,STS,FTS,FMU,TRO,ANU,RATE,...,TSU1_BP3_CLX1,TSU1_BP3_CLX2,TSU2_STATE,TSU2_CONTROL,TSU2_BP1_CLX1,TSU2_BP1_CLX2,TSU2_BP2_CLX1,TSU2_BP2_CLX2,TSU2_BP3_CLX1,TSU2_BP3_CLX2
0,1,1,2020-07-09 01:50:34,44.80,0.00,0.00,488.36,0.00,0.0,-1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,2018-03-14 09:58:58,33.55,10.21,37.16,3293.63,0.00,0.0,-1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,2020-05-04 02:45:02,45.31,0.00,36.07,3136.53,0.00,0.0,-1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,2021-05-29 04:26:42,0.00,0.00,0.00,3524.26,0.00,2400.0,1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,2021-08-12 10:42:54,45.42,26.95,28.02,2712.63,0.00,0.0,1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583067,1075,15,2021-03-04 03:48:51,35.72,0.00,31.84,629.44,0.47,0.0,-1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583068,1075,16,2021-03-04 03:49:51,35.70,0.00,31.86,630.25,0.47,0.0,-1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583069,1075,17,2021-03-04 03:50:51,35.69,0.00,31.83,633.15,0.47,0.0,-1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583070,1075,18,2021-03-04 03:51:51,35.68,0.00,31.86,629.84,0.47,0.0,-1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583071,1075,19,2021-03-04 03:52:51,35.68,0.00,31.85,630.79,0.47,0.0,-1.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN