<a href="https://colab.research.google.com/github/AnnJungChan/TECHCROSS/blob/main/DATA_JOIN/DATA_DEVICE_JOIN_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA_DEVICE_JOIN_DATA

- DATA_DEVICE를 중심으로 DATA를 LEFT JOIN한 테이블을 만든다.

- DATA_DEVICE가 DATA보다 행의 갯수가 더 많으므로, DATA가 중복되어 DATA_DEVICE와 병합된다.

- 병합은 아래의 순서를 따른다 <BR>
  1. DATA_DEVICE 테이블과 ANU,ECU,PMU,TSU를 병합시킨다.<BR>
    - ANU,ECU,PMU,TSU 테이블에 DEVICETYPE이라는 컬럼을 만들어준다.<BR>
    - ECU에는 DEVICETYPE = 1, ANU에는 DEVICETYPE = 2, TSU에는 DEVICETYPE = 3, PMU에는 DEVICETYPE = 4를 넣어준다. <BR>
    - DEVICETYPE 칼럼을 사용하여 키를 만든 후, DATA_DEVICE 테이블을 기준으로 ANU, ECU, PMU, TSU 테이블을 LEFT JOIN을 이용하여 병합시킨다.<BR>
  2. DATA_DEVICE 테이블과 ANU, ECU, PMU, TSU를 병합시킨 테이블인 DATA_DEVICE_TYPE 테이블을 기준으로, DATA 테이블을 LEFT JOIN 시킨다.

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')
import pandas as pd
import numpy as np
DATA_DEVICE = pd.read_csv('/content/gdrive/MyDrive/DB/DATA_DEVICE.csv')
ANU = pd.read_csv('/content/gdrive/MyDrive/DB/ANU.csv')
ECU = pd.read_csv('/content/gdrive/MyDrive/DB/ECU.csv')
PMU = pd.read_csv('/content/gdrive/MyDrive/DB/PMU.csv')
TSU = pd.read_csv('/content/gdrive/MyDrive/DB/TSU.csv')
DATA = pd.read_csv('/content/gdrive/MyDrive/DB/DATA.csv')
DATA_DEVICE['DDKEY'] = DATA_DEVICE['SHIP_ID'] + "_" + DATA_DEVICE['SECTION'].astype(str) + "_" + DATA_DEVICE['D_INDEX'].astype(str) + "_" + DATA_DEVICE['DEVICE_ID'].astype(str) + "_" +DATA_DEVICE['DEVICETYPE'].astype(str)
ECU['DEVICETYPE'] = 1
ANU['DEVICETYPE'] = 2
TSU['DEVICETYPE'] = 3
PMU['DEVICETYPE'] = 4
ECU['DDKEY'] = ECU['SHIP_ID'] + "_" + ECU['SECTION'].astype(str) + "_" + ECU['D_INDEX'].astype(str) + "_" + ECU['DEVICE_ID'].astype(str) + "_" +ECU['DEVICETYPE'].astype(str)
ANU['DDKEY'] = ANU['SHIP_ID'] + "_" + ANU['SECTION'].astype(str) + "_" + ANU['D_INDEX'].astype(str) + "_" + ANU['DEVICE_ID'].astype(str) + "_" +ANU['DEVICETYPE'].astype(str)
TSU['DDKEY'] = TSU['SHIP_ID'] + "_" + TSU['SECTION'].astype(str) + "_" + TSU['D_INDEX'].astype(str) + "_" + TSU['DEVICE_ID'].astype(str) + "_" +TSU['DEVICETYPE'].astype(str)
PMU['DDKEY'] = PMU['SHIP_ID'] + "_" + PMU['SECTION'].astype(str) + "_" + PMU['D_INDEX'].astype(str) + "_" + PMU['DEVICE_ID'].astype(str) + "_" +PMU['DEVICETYPE'].astype(str)
ECU.rename(columns = lambda x: "ECU_" + x, inplace = True)
ANU.rename(columns = lambda x: "ANU_" + x, inplace = True)
TSU.rename(columns = lambda x: "TSU_" + x, inplace = True)
PMU.rename(columns = lambda x: "PMU_" + x, inplace = True)
ECU.rename(columns = {'ECU_DDKEY' : 'DDKEY'},inplace=True)
ANU.rename(columns = {'ANU_DDKEY' : 'DDKEY'},inplace=True)
TSU.rename(columns = {'TSU_DDKEY' : 'DDKEY'},inplace=True)
PMU.rename(columns = {'PMU_DDKEY' : 'DDKEY'},inplace=True)
DDECU=pd.merge(DATA_DEVICE,ECU,how = 'left', on = 'DDKEY')
DDANU=pd.merge(DATA_DEVICE,ANU,how = 'left', on = 'DDKEY')
DDPMU=pd.merge(DATA_DEVICE,PMU,how = 'left', on = 'DDKEY')
DDTSU=pd.merge(DATA_DEVICE,TSU,how = 'left', on = 'DDKEY')
DDECU.drop(columns = ['ECU_SHIP_ID','ECU_D_INDEX','ECU_DEVICE_ID','ECU_SYSTEM','ECU_SECTION','ECU_DEVICETYPE'],inplace = True)
DDANU.drop(columns = ['ANU_SHIP_ID','ANU_D_INDEX','ANU_DEVICE_ID','ANU_SYSTEM','ANU_SECTION','ANU_DEVICETYPE'],inplace = True)
DDPMU.drop(columns = ['PMU_SHIP_ID','PMU_D_INDEX','PMU_DEVICE_ID','PMU_SYSTEM','PMU_SECTION','PMU_DEVICETYPE'],inplace = True)
DDTSU.drop(columns = ['TSU_SHIP_ID','TSU_D_INDEX','TSU_DEVICE_ID','TSU_SYSTEM','TSU_SECTION','TSU_DEVICETYPE'],inplace = True)
DDANU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DDPMU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DDTSU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DATA_DEVICE_TYPE=pd.concat([DDECU,DDANU,DDTSU,DDPMU],axis = 1)
DATA_DEVICE_TYPE.drop(columns = ['DDKEY'],inplace = True)
DATA_DEVICE_TYPE['KEY'] = DATA_DEVICE_TYPE['SHIP_ID'] + "_" + DATA_DEVICE_TYPE['SECTION'].astype(str) + "_" + DATA_DEVICE_TYPE['OP_INDEX'].astype(str) + "_" + DATA_DEVICE_TYPE['DATA_INDEX'].astype(str)
DATA['KEY'] = DATA['SHIP_ID'] + "_" + DATA['SECTION'].astype(str) + "_" + DATA['OP_INDEX'].astype(str) + "_" + DATA['DATA_INDEX'].astype(str)
DATA.drop(columns = ['OP_INDEX','DATA_INDEX','SHIP_ID','SYSTEM', 'SECTION'],inplace = True)
DATA_DEVICE_JOIN_DATA=pd.merge(DATA_DEVICE_TYPE,DATA,how = 'left', on = 'KEY')
DATA_DEVICE_JOIN_DATA.drop(columns = ['KEY'], inplace = True)

Mounted at /content/gdrive/