<a href="https://colab.research.google.com/github/AnnJungChan/TECHLOSS_SIGNLAB/blob/main/DATA/EVENT_INDEX_BY_OPTIME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 패키지 로딩

In [48]:
from google.colab import drive
drive.mount('/content/gdrive')
import numpy as np
import pandas as pd

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# EVENT_JOIN_OPTIME 생성

In [49]:
EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/EVENT.csv')
OPTIME = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
OPTIME_EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME_EVENT.csv')
EVENT['SECTION']=EVENT['SECTION'].astype('str')
EVENT['EVENT_INDEX'] = EVENT['EVENT_INDEX'].astype('str')
OPTIME_EVENT['SECTION']=OPTIME_EVENT['SECTION'].astype('str')
OPTIME_EVENT['EVENT_INDEX'] = OPTIME_EVENT['EVENT_INDEX'].astype('str')
EVENT['KEY']=EVENT['SHIP_ID']+"_"+ EVENT['SECTION']+"_"+ EVENT['EVENT_INDEX']
OPTIME_EVENT['KEY']=OPTIME_EVENT['SHIP_ID']+"_"+ OPTIME_EVENT['SECTION']+"_"+ OPTIME_EVENT['EVENT_INDEX']
EVENT_JOIN_OPTIME_EVENT = pd.merge(EVENT, OPTIME_EVENT, how = "inner", on = "KEY")
EVENT_JOIN_OPTIME_EVENT.drop(columns = ["SHIP_ID_x", "SYSTEM_x", "EVENT_INDEX_x", "SECTION_x"],inplace = True)
EVENT_JOIN_OPTIME_EVENT.rename(columns = {'SHIP_ID_y' : 'SHIP_ID', 'EVENT_INDEX_y':'EVENT_INDEX', 'SYSTEM_y' : 'SYSTEM', 'SECTION_y' : 'SECTION'}, inplace = True)
EVENT_JOIN_OPTIME_EVENT.drop(columns = ["KEY"],inplace = True)
EVENT_JOIN_OPTIME_EVENT['KEY'] = EVENT_JOIN_OPTIME_EVENT['SHIP_ID']+"_"+  EVENT_JOIN_OPTIME_EVENT['SECTION'].astype('str')+"_"+  EVENT_JOIN_OPTIME_EVENT['OP_INDEX'].astype('str')
OPTIME['KEY'] = OPTIME['SHIP_ID']+"_"+  OPTIME['SECTION'].astype('str')+"_"+  OPTIME['OP_INDEX'].astype('str')
EVENT_JOIN_OPTIME = pd.merge(EVENT_JOIN_OPTIME_EVENT, OPTIME, how = "inner", on = "KEY")
EVENT_JOIN_OPTIME.drop(columns = ["SHIP_ID_x", "SYSTEM_x", "SECTION_x",'FILE_INDEX_x','OP_INDEX_x'],inplace = True)
EVENT_JOIN_OPTIME.rename(columns = {'SHIP_ID_y' : 'SHIP_ID', 'OP_INDEX_y':'OP_INDEX', 'SYSTEM_y' : 'SYSTEM', 'SECTION_y' : 'SECTION', 'FILE_INDEX_y':'FILE_INDEX'}, inplace = True)

In [52]:
df=pd.DataFrame({'SHIP_ID/SECTION/OP_INDEX' :OPTIME['KEY'], 'EVENT_INDEX' : np.zeros(10341)})

In [53]:
for i in range(len(OPTIME['KEY'])) :
  index = EVENT_JOIN_OPTIME.loc[OPTIME['KEY'][i] == EVENT_JOIN_OPTIME['KEY'],'EVENT_INDEX']
  index=index.astype(int)
  index=index.astype(str)
  index=' , '.join(index)
  df.iloc[i,1] = index

EVENT_INDEX_BY_OPTIME=df

In [55]:
EVENT_INDEX_BY_OPTIME

,SHIP_ID/SECTION/OP_INDEX,EVENT_INDEX
0,T140110-00206_0_1,"13 , 14 , 15 , 16 , 17 , 18 , 19 , 20 , 21"
1,T140113-00101_0_1,"19064 , 19065 , 19066 , 19067 , 19068 , 19069 ..."
2,T140113-00102_0_1,"9 , 10 , 11"
3,T140113-00103_0_1,"201 , 202"
4,T140113-00104_0_1,"1857 , 1858"
...,...,...
10336,T140128-00703_0_1071,"14723 , 14724 , 14725 , 14726 , 14727"
10337,T140128-00703_0_1072,"14732 , 14733 , 14734 , 14735 , 14736 , 14737"
10338,T140128-00703_0_1073,"14754 , 14755 , 14756 , 14757 , 14758 , 14759 ..."
10339,T140128-00703_0_1074,"14782 , 14783 , 14784 , 14785 , 14786 , 14787 ..."
10340,T140128-00703_0_1075,"14889 , 14890 , 14891 , 14892 , 14893 , 14894 ..."

# 결합코드

- EVENT_INDEX_BY_OPTIME이 생성되기 위해서는 EVENT_JOIN_OPTIME 테이블이 선행되어야 한다.

In [ ]:
df=pd.DataFrame({'SHIP_ID/SECTION/OP_INDEX' :OPTIME['KEY'], 'EVENT_INDEX' : np.zeros(10341)})
for i in range(len(OPTIME['KEY'])) :
  index = EVENT_JOIN_OPTIME.loc[OPTIME['KEY'][i] == EVENT_JOIN_OPTIME['KEY'],'EVENT_INDEX']
  index=index.astype(int)
  index=index.astype(str)
  index=' , '.join(index)
  df.iloc[i,1] = index

EVENT_INDEX_BY_OPTIME=df