<a href="https://colab.research.google.com/github/AnnJungChan/TECHLOSS_SIGNLAB/blob/main/WAIT/%EC%95%88%EC%A4%91%EC%B0%AC/2022-03-24/dash_real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 하기전

- 1. EVENT 테이블과 OPTIME 테이블 붙은거 있으면 가져올 것
- 2. DATA 테이블과 OPTIME 테이블 붙은거 있으면 가져올 것

# 주피터 대시

In [1]:
pip install jupyter-dash -q

     |████████████████████████████████| 9.6 MB 18.6 MB/s
     |████████████████████████████████| 357 kB 18.1 MB/s
  Building wheel for retrying (setup.py) ... done

# 패키지 로딩

In [12]:
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

#데이터 로딩

In [17]:
DATA = pd.read_csv('/content/gdrive/MyDrive/DB/DATA.csv')
EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/EVENT.csv')
OPTIME = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')

# 샘플코드 (삭제하지 말 것)

In [3]:
# Load Data
df = px.data.tips()

## 데이터 베이스를 로딩한다.


# Build App
app = JupyterDash(__name__)
## 주피터 대시를 사용해야 한다.

app.layout = html.Div([
    html.H1("JupyterDash Demo"),
    # 맨 앞에 뜨는 헤더 이름
    dcc.Graph(id='graph'),
    # 그래프를 넣음
    html.Label([
        "colorscale",
        # 라벨 이름
        dcc.Dropdown(
            id='colorscale-dropdown', clearable=False,
            value='plasma', options=[
                {'label': c, 'value': c}
                for c in px.colors.named_colorscales()
            ])
        # 드랍다운을 넣음
    ]),
])
# Define callback to update graph
@app.callback(
    Output('graph', 'figure'),
    [Input("colorscale-dropdown", "value")]
)
def update_figure(colorscale):
    return px.scatter(
        df, x="total_bill", y="tip", color="size",
        color_continuous_scale=colorscale,
        render_mode="webgl", title="Tips"
    )
# Run app and display result inline in the notebook
app.run_server(debug = True)

Dash app running on:

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
DATA=pd.read_csv('/content/gdrive/MyDrive/DB/DATA.csv')
OPTIME=pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
DATA['KEY'] = DATA['SHIP_ID'] + "_" + DATA['SECTION'].astype(str) + "_" + DATA['OP_INDEX'].astype(str)
OPTIME['KEY'] = OPTIME['SHIP_ID'] + "_" + OPTIME['SECTION'].astype(str) + "_" + OPTIME['OP_INDEX'].astype(str)
DATA_JOIN_OPTIME = pd.merge(DATA,OPTIME,how = 'inner', on = 'KEY')
DATA_JOIN_OPTIME = DATA_JOIN_OPTIME.drop(columns = ['SHIP_ID_y', 'SYSTEM_y', 'OP_INDEX_y','SECTION_y'])
DATA_JOIN_OPTIME = DATA_JOIN_OPTIME.drop(columns = ['KEY'])
DATA_JOIN_OPTIME=DATA_JOIN_OPTIME.rename(columns = {'OP_INDEX_x' : 'OP_INDEX', 'SHIP_ID_x' : 'SHIP_ID', 'SYSTEM_x' : 'SYSTEM', 'SECTION_x' : 'SECTION'})

In [ ]:
DATA_JOIN_OPTIME.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583038 entries, 0 to 583037
Data columns (total 36 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OP_INDEX      583038 non-null  int64
 1   DATA_INDEX    583038 non-null  int64
 2   DATA_TIME     583038 non-null  object
 3   CSU           583038 non-null  float64
 4   STS           583038 non-null  float64
 5   FTS           583038 non-null  float64
 6   FMU           583038 non-null  float64
 7   TRO           583038 non-null  float64
 8   ANU           583038 non-null  float64
 9   RATE          583038 non-null  float64
 10  CURRENT       583038 non-null  int64
 11  VOLTAGE       583038 non-null  float64
 12  TRO_COUNT     74904 non-null   float64
 13  SHIP_ID       583038 non-null  object
 14  SYSTEM        583038 non-null  int64
 15  SECTION       583038 non-null  int64
 16  OP_TYPE       583038 non-null  int64
 17  LINE          583038 non-null  int64
 18  START_TIME    583038 non-null  object
 19  END_TIME      583038 non-null  object
 20  RUNNING_TIME  583038 non-null  int64
 21  VOLUME        583038 non-null  int64
 22  TRO_AVG       583038 non-null  float64
 23  ANU_AMOUNT    583038 non-null  float64
 24  NORMAL        583038 non-null  int64
 25  LATITUDE      583038 non-null  float64
 26  LONGITUDE     583038 non-null  float64
 27  ALARM_COUNT   223493 non-null  float64
 28  FAULT_COUNT   223493 non-null  float64
 29  FAULT_CODE    130319 non-null  float64
 30  VOYAGE        0 non-null       float64
 31  TOTAL_POWER   114807 non-null  float64
 32  FILE_INDEX    84307 non-null   float64
 33  MODE          0 non-null       float64
 34  REGION_ID     517303 non-null  float64
 35  STATE         31032 non-null   float64
dtypes: float64(22), int64(10), object(4)
memory usage: 164.6+ MB

In [ ]:
a =DATA_JOIN_OPTIME['SHIP_ID'] + "_" + DATA_JOIN_OPTIME['SECTION'].astype(str) + "_" + DATA_JOIN_OPTIME['OP_INDEX'].astype(str)

In [ ]:
len(a.unique())

9332

In [ ]:
APP_DATA=DATA_JOIN_OPTIME[['SHIP_ID','OP_INDEX', 'DATA_TIME', 'CSU', 'STS', 'FTS', 'FMU', 'TRO', 'ANU', 'CURRENT', 'VOLTAGE', 'START_TIME', 'END_TIME']]

In [ ]:
DATA_JOIN_OPTIME.loc[(DATA_JOIN_OPTIME['SHIP_ID'] =='T140110-00206') & (DATA_JOIN_OPTIME['OP_INDEX'] == 1),:]

,OP_INDEX,DATA_INDEX,DATA_TIME,CSU,STS,FTS,FMU,TRO,ANU,RATE,...,LONGITUDE,ALARM_COUNT,FAULT_COUNT,FAULT_CODE,VOYAGE,TOTAL_POWER,FILE_INDEX,MODE,REGION_ID,STATE
0,1,1,2020-07-09 01:50:34,44.80,0.0,0.0,488.36,0.0,0.0,-1.0,...,126.79,NaN,NaN,NaN,NaN,-0.044167,NaN,NaN,34179.0,NaN
31,1,2,2020-07-09 01:51:34,44.60,0.0,0.0,488.91,0.0,0.0,-1.0,...,126.79,NaN,NaN,NaN,NaN,-0.044167,NaN,NaN,34179.0,NaN
58,1,3,2020-07-09 01:52:34,44.67,0.0,0.0,487.55,0.0,0.0,-1.0,...,126.79,NaN,NaN,NaN,NaN,-0.044167,NaN,NaN,34179.0,NaN

Warning: Total number of columns (36) exceeds max_columns (20) limiting to first (20) columns.