<a href="https://colab.research.google.com/github/hyej987/TECHROSS/blob/master/NEW_DB/New_data_set_maker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 패키지로딩

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
import numpy as np

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# 데이터로딩

In [ ]:
ANU = pd.read_csv('/content/gdrive/MyDrive/DB/ANU.csv')
PMU = pd.read_csv('/content/gdrive/MyDrive/DB/PMU.csv')
TSU = pd.read_csv('/content/gdrive/MyDrive/DB/TSU.csv')
ECU = pd.read_csv('/content/gdrive/MyDrive/DB/ECU.csv')
DATA = pd.read_csv('/content/gdrive/MyDrive/DB/DATA.csv')
EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/EVENT.csv')
OPTIME = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
DATA_DEVICE = pd.read_csv('/content/gdrive/MyDrive/DB/DATA_DEVICE.csv')
OPTIME_EVENT = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME_EVENT.csv')

In [ ]:
ECU_COL = ECU.columns
ANU_COL = ANU.columns
TSU_COL = TSU.columns
PMU_COL = PMU.columns

# 데이터 품질과 관련된 유의점

- 중복 
 - 데이터 모델은 같은 데이터를 사용하는 사람, 시간, 그리고 장소를 파악하는데 도움을 준다. \\
 - 데이터베이스가 여러 장소에 같은 정보를 저장하는 잘못을 하지 않도록 한다. \\ 
 - 테이블 내에 여러 개의 동일한 정보가 저장되어 있으면 안된다.

- 비유연성
 - 데이터 모델을 어떻게 설계했느냐에 따라 사소한 업무 변화에 대해서도 데이터 모델이 수시로 변경된다면, 유지보수의 어려움을 가중시킬 수 있다. \\
 - 새로운 정보가 생기더라도, 기존에 있던 정보는 변하면 안된다.

- 비일관성
 - 데이터의 중복이 없더라도 비일관성이 발생한다.
 - 데이터 모델링 시, 데이터와 데이터 간 상호 연관 관계에 대한 명확한 정의가 필요하다.
 - 규칙은 항상 일관적이어야 한다.
 - 다른 테이블 내에서 작동할 시, 같은 값이 있어야 하며, 일관적인 규칙이 유지되어야 한다.

# DATA_DEVICE와 ANU, PMU, TSU, ECU 간의 비 일관성 발생

- DATA_DEVICE 테이블도 1분에 1개씩 기록이 되는 테이블
- 4개 DEVICE 테이블 또한 1분에 1개씩 기록이 되고 있음
- 두 테이블의 관측치의 갯수가 같아야함. 다르다면, 1분에 1개씩 기록되는 규칙이 어겨지기 때문에, 데이터를 분석 할 때, 일관적이지 않아서 문제가 발생함
- DATA_DEVICE 테이블에 없지만 DEVICE 테이블에 있는 정보에 대해서, DEVICE 테이블에 있는 관측치들을 삭제할 필요성이 있음

In [ ]:
origin_col_DATA_DEVICE = DATA_DEVICE.columns

In [ ]:
DATA_DEVICE['KEY'] = DATA_DEVICE['SHIP_ID'] + "_" + DATA_DEVICE['SECTION'].astype(str) + "_" + DATA_DEVICE['DEVICE_ID'].astype(str) + "_" +DATA_DEVICE['D_INDEX'].astype(str)

In [ ]:
ECUDD=DATA_DEVICE[DATA_DEVICE['DEVICETYPE'] == 1]

In [ ]:
ANUDD=DATA_DEVICE[DATA_DEVICE['DEVICETYPE'] == 2]

In [ ]:
TSUDD=DATA_DEVICE[DATA_DEVICE['DEVICETYPE'] == 3]

In [ ]:
PMUDD=DATA_DEVICE[DATA_DEVICE['DEVICETYPE'] == 4]

In [ ]:
ANU['KEY'] = ANU['SHIP_ID'] + "_" + ANU['SECTION'].astype(str) + "_" + ANU['DEVICE_ID'].astype(str) + "_" +ANU['D_INDEX'].astype(str)

In [ ]:
TSU['KEY'] = TSU['SHIP_ID'] + "_" + TSU['SECTION'].astype(str) + "_" + TSU['DEVICE_ID'].astype(str) + "_" +TSU['D_INDEX'].astype(str)

In [ ]:
PMU['KEY'] = PMU['SHIP_ID'] + "_" + PMU['SECTION'].astype(str) + "_" + PMU['DEVICE_ID'].astype(str) + "_" +PMU['D_INDEX'].astype(str)

In [ ]:
ECU['KEY'] = ECU['SHIP_ID'] + "_" + ECU['SECTION'].astype(str) + "_" + ECU['DEVICE_ID'].astype(str) + "_" +ECU['D_INDEX'].astype(str)

## ECU 테이블에서 비일관성을 띄는 관측치들

In [ ]:
mer_DATA_DEVICE_ECU=pd.merge(ECU,ECUDD, how = 'left' , on = 'KEY')

In [ ]:
mer_DATA_DEVICE_ECU[mer_DATA_DEVICE_ECU['SHIP_ID_y'].isna()]

## ANU 테이블에서 비일관성을 띄는 관측치들

In [ ]:
mer_DATA_DEVICE_ANU=pd.merge(ANU,ANUDD, how = 'left' , on = 'KEY')

In [ ]:
mer_DATA_DEVICE_ANU[mer_DATA_DEVICE_ANU['SHIP_ID_y'].isna()]

## TSU 테이블에서 비일관성을 띄는 관측치들

In [ ]:
mer_DATA_DEVICE_TSU=pd.merge(TSU,TSUDD, how = 'left' , on = 'KEY')

In [ ]:
mer_DATA_DEVICE_TSU[mer_DATA_DEVICE_TSU['SHIP_ID_y'].isna()]

## PMU 테이블에서 비일관성을 띄는 관측치들

In [ ]:
mer_DATA_DEVICE_PMU=pd.merge(PMU,PMUDD, how = 'left' , on = 'KEY')

In [ ]:
mer_DATA_DEVICE_PMU[mer_DATA_DEVICE_PMU['SHIP_ID_y'].isna()]

- 현재, ANU 테이블을 제외한 테이블에서 모두 비일관성이 발생한다는 사실을 알 수 있다.
- DATA_DEVICE에는 존재하지 않지만, DEVICE 테이블에는 존재하는 데이터들이 있다는 것을 확인할 수 있다.
- 이러한 비일관성이 발생하는 관측치에 대해서 모두 제거해준다.

In [ ]:
ECU_DROP_KEY = mer_DATA_DEVICE_ECU[mer_DATA_DEVICE_ECU['SHIP_ID_y'].isna()]['KEY']
ANU_DROP_KEY = mer_DATA_DEVICE_ANU[mer_DATA_DEVICE_ANU['SHIP_ID_y'].isna()]['KEY']
TSU_DROP_KEY = mer_DATA_DEVICE_TSU[mer_DATA_DEVICE_TSU['SHIP_ID_y'].isna()]['KEY']
PMU_DROP_KEY = mer_DATA_DEVICE_PMU[mer_DATA_DEVICE_PMU['SHIP_ID_y'].isna()]['KEY']
ECU_DROP_KEY=ECU_DROP_KEY.to_list()
ANU_DROP_KEY=ANU_DROP_KEY.to_list()
TSU_DROP_KEY=TSU_DROP_KEY.to_list()
PMU_DROP_KEY=PMU_DROP_KEY.to_list()

In [ ]:
ECU.index = ECU['KEY']
ANU.index = ANU['KEY']
TSU.index = TSU['KEY']
PMU.index = PMU['KEY']

In [ ]:
print("원래 갯수 : " , len(ECU))
print("처리 후 갯수 : " , len(ECU.drop(ECU_DROP_KEY)))

원래 갯수 :  620535
처리 후 갯수 :  620478

In [ ]:
print("원래 갯수 : " , len(ANU))
print("처리 후 갯수 : " , len(ANU.drop(ANU_DROP_KEY)))

원래 갯수 :  688342
처리 후 갯수 :  688342

In [ ]:
print("원래 갯수 : " , len(TSU))
print("처리 후 갯수 : " , len(TSU.drop(TSU_DROP_KEY)))

원래 갯수 :  583186
처리 후 갯수 :  583166

In [ ]:
print("원래 갯수 : " , len(PMU))
print("처리 후 갯수 : " , len(PMU.drop(PMU_DROP_KEY)))

원래 갯수 :  242766
처리 후 갯수 :  242670

In [ ]:
ECU = ECU.drop(ECU_DROP_KEY)
ECU.drop(columns = ['KEY'], inplace  = True)
ECU=ECU.reset_index()
ECU = ECU.drop(columns = ['KEY'])
ECU

In [ ]:
ANU = ANU.drop(ANU_DROP_KEY)
ANU.drop(columns = ['KEY'], inplace  = True)
ANU=ANU.reset_index()
ANU = ANU.drop(columns = ['KEY'])
ANU

In [ ]:
TSU = TSU.drop(TSU_DROP_KEY)
TSU.drop(columns = ['KEY'], inplace  = True)
TSU=TSU.reset_index()
TSU = TSU.drop(columns = ['KEY'])
TSU

In [ ]:
PMU = PMU.drop(PMU_DROP_KEY)
PMU.drop(columns = ['KEY'], inplace  = True)
PMU=PMU.reset_index()
PMU = PMU.drop(columns = ['KEY'])
PMU

# DATA 테이블의 정보 중복

- 모든 값이 다 일치하지만, DATA_INDEX만 다른 경우가 존재한다.
- 데이터는 1분마다 1개씩 수집되는 데이터 이기 때문에, 동일한 선박의 섹션에서 데이터가 수집될 시, 같은 분단위에서 데이터가 수집될 수 없다.
- 이러한 중복값들을 모두 제거해야 한다.

In [ ]:
DATA['DUP'] = DATA['SHIP_ID'] + "_" + DATA["SECTION"].astype(str) + "_" + DATA["OP_INDEX"].astype(str)+ DATA["DATA_TIME"]
print("시간 데이터 사이의 유일성 : " , len(DATA['DUP'].unique()))
print("실제 데이터 갯수 : ", len(DATA))

시간 데이터 사이의 유일성 :  452686
실제 데이터 갯수 :  583072

In [ ]:
data_time_key = DATA['DUP']
pd.DataFrame(data_time_key.value_counts())

- 예시 1 : DATA_INDEX만 제외하고 모든 값이 같은 것을 볼 수 있다.

In [ ]:
DATA[DATA['DUP'] == 'T140110-00206_0_1892020-08-31 11:15:21']

- 예시 2 : DATA_INDEX만 제외하고 모든 값이 같은 것을 볼 수 있다.

In [ ]:
DATA[DATA['DUP'] == 'T140110-00206_0_1972020-09-14 08:12:18']

- 예시 3 : DATA_INDEX만 제외하고 모든 값이 같은 것을 볼 수 있다.

In [ ]:
DATA[DATA['DUP'] == 'T20180208001_0_4442021-02-08 02:09:33']

그러므로, 겹치는 데이터를 모두 제거해야한다.
데이터가 많이 겹치기 때문에, 우리는 drop.duplicates() 함수를 사용하여 첫번째 값을 제외한 모든 값에 대해서 중복값을 제거해 줄 것이다.

In [ ]:
DATA = DATA.drop_duplicates(subset = ['OP_INDEX', 'DATA_TIME', 'CSU', 'STS', 'FTS','FMU','TRO','ANU', 'RATE','CURRENT','VOLTAGE','TRO_COUNT','SHIP_ID','SECTION','DUP'])

In [ ]:
DATA=DATA.reset_index().drop(columns = ['index','DUP'])

In [ ]:
DATA

중복이 제거된 것을 확인할 수 있다.

# 4 DEVICE 테이블의 중복 값 존재 여부

- 4 DEVICE 테이블도 DATA 테이블과 마찬가지로 1분에 하나씩 수집되는 데이터이다.
- 또한, DATA 테이블은 4 DEVICE 테이블에서 산출되는 값으로 만들어진 테이블이므로, DATA 테이블의 TIME LINE과 4 DEVICE 테이블의 타임라인이 서로 일치해야한다.
- 만약, 타임라인을 어기는 관측치가 있다면, 과감히 삭제해야한다.

## DATA_DEVICE 테이블을 이용하여 DATA 테이블과 4 DEVICE 테이블의 결합 유도
- 4 DEVICE 테이블에 타임라인을 형성시켜줌으로써 4 DEVICE 테이블의 타임라인 중복 여부를 확인한다.
- 타임라인이 겹친다면, 그 값은 중복을 일으키므로 제거해도 무방하다.
- 또한, 타임라인이 nan으로 들어온다면, 그 값도 제거해도 무방하다. 1분마다 들어오는 센서 데이터에 언제 데이터가 들어왔는지에 대한 정보가 누락된 것이기 때문에, 이 데이터는 사용할 수 없다.

In [ ]:
ECUDD_ECU = pd.merge(ECUDD,ECU,how = "left", on = ['SHIP_ID', 'SECTION','D_INDEX','DEVICE_ID'])
ECU_TIME = pd.merge(ECUDD_ECU,DATA[['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX','DATA_TIME']],how = "left", on = ['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX'])

In [ ]:
ANUDD_ANU = pd.merge(ANUDD,ANU,how = "left", on = ['SHIP_ID', 'SECTION','D_INDEX','DEVICE_ID'])
ANU_TIME = pd.merge(ANUDD_ANU,DATA[['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX','DATA_TIME']],how = "left", on = ['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX'])

In [ ]:
TSUDD_TSU = pd.merge(TSUDD,TSU,how = "left", on = ['SHIP_ID', 'SECTION','D_INDEX','DEVICE_ID'])
TSU_TIME = pd.merge(TSUDD_TSU,DATA[['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX','DATA_TIME']],how = "left", on = ['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX'])

In [ ]:
PMUDD_PMU = pd.merge(PMUDD,PMU,how = "left", on = ['SHIP_ID', 'SECTION','D_INDEX','DEVICE_ID'])
PMU_TIME = pd.merge(PMUDD_PMU,DATA[['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX','DATA_TIME']],how = "left", on = ['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX'])

## 시간이 들어오지 않은 데이터에 대한 제거

In [ ]:
print("ECU 테이블에서 시간이 들어오지 않은 데이터의 갯수 : " , ECU_TIME['DATA_TIME'].isna().sum())
print("ANU 테이블에서 시간이 들어오지 않은 데이터의 갯수 : " , ANU_TIME['DATA_TIME'].isna().sum())
print("TSU 테이블에서 시간이 들어오지 않은 데이터의 갯수 : " , TSU_TIME['DATA_TIME'].isna().sum())
print("PMU 테이블에서 시간이 들어오지 않은 데이터의 갯수 : " , PMU_TIME['DATA_TIME'].isna().sum())

In [ ]:
ECU_TIME = ECU_TIME[ECU_TIME['DATA_TIME'].isna() == False]
ANU_TIME  = ANU_TIME[ANU_TIME['DATA_TIME'].isna() == False]
TSU_TIME  = TSU_TIME[TSU_TIME['DATA_TIME'].isna() == False]
PMU_TIME  = PMU_TIME[PMU_TIME['DATA_TIME'].isna() == False]

## 중복되는 시간 데이터 제거

- 선박과 선박 안에 있는 섹션, 그 안에 있는 디바이스들에 대해서 시간이 모두 같을 때, 이는 1분에 1개씩 데이터가 들어온다는 규칙에 위배되므로, 이들을 모두 제거해주면 된다.

In [ ]:
ECU_TIME["DUP"] = ECU_TIME['SHIP_ID'] + "_" + ECU_TIME['SECTION'].astype(str) + "_" + ECU_TIME['OP_INDEX'].astype(str)  + "_" + ECU_TIME['DEVICE_ID'].astype(str) + ECU_TIME['DATA_TIME']
print("ECU의 유일한 시간 데이터 갯수 : " , len(ECU_TIME["DUP"].unique()))
ANU_TIME["DUP"] = ANU_TIME['SHIP_ID'] + "_" + ANU_TIME['SECTION'].astype(str) + "_" +  ANU_TIME['OP_INDEX'].astype(str)  + "_"  + ANU_TIME['DEVICE_ID'].astype(str) + ANU_TIME['DATA_TIME']
print("ANU의 유일한 시간 데이터 갯수 : " , len(ANU_TIME["DUP"].unique()))
TSU_TIME["DUP"] = TSU_TIME['SHIP_ID'] + "_" + TSU_TIME['SECTION'].astype(str) + "_" + TSU_TIME['OP_INDEX'].astype(str)  + "_"  +TSU_TIME['DEVICE_ID'].astype(str) + TSU_TIME['DATA_TIME']
print("TSU의 유일한 시간 데이터 갯수 : " , len(TSU_TIME["DUP"].unique()))
PMU_TIME["DUP"] = PMU_TIME['SHIP_ID'] + "_" + PMU_TIME['SECTION'].astype(str) + "_" + PMU_TIME['OP_INDEX'].astype(str)  + "_" + PMU_TIME['DEVICE_ID'].astype(str) + PMU_TIME['DATA_TIME']
print("PMU의 유일한 시간 데이터 갯수 : " , len(PMU_TIME["DUP"].unique()))

### ECU

In [ ]:
ECU_TIME["DUP"].value_counts()

- 예시 1 : D_INDEX를 제외하고 모두 같은 값을 가진다는 사실을 알 수 있다.

In [ ]:
ECU_TIME[ECU_TIME["DUP"] == 'T20180208001_0_321_62021-11-21 23:37:15']

- 예시 2 : D_INDEX를 제외하고 모두 같은 값을 가진다는 사실을 알 수 있다.

In [ ]:
ECU_TIME[ECU_TIME["DUP"] == 'T20180208001_0_321_42021-11-21 23:38:15']

### ANU

In [ ]:
ANU_TIME["DUP"].value_counts()

In [ ]:
ANU_TIME[ANU_TIME["DUP"] == 'T20180208001_0_869_32022-02-07 14:33:18']

### TSU

In [ ]:
TSU_TIME["DUP"].value_counts()

In [ ]:
TSU_TIME[TSU_TIME["DUP"] == 'T20180208001_0_134_12021-07-26 12:02:22']

### PMU

In [ ]:
PMU_TIME["DUP"].value_counts()

In [ ]:
PMU_TIME[PMU_TIME["DUP"] == 'T20200113001_1_214_92021-06-15 08:13:16']

## 중복값 제거

In [ ]:
ECU_TIME=ECU_TIME.drop_duplicates("DUP")
ANU_TIME=ANU_TIME.drop_duplicates("DUP")
TSU_TIME=TSU_TIME.drop_duplicates("DUP")
PMU_TIME=PMU_TIME.drop_duplicates("DUP")

# SYSTEM과 SECTION의 정보 중복

- SYSTEM과 SECTION 칼럼의 정보는 동일하다.
- 테이블 내에 열 단위로 동일한 정보가 존재한다.
- 모든테이블에 SYSTEM과 SECTION이 중복된 정보로 등록되어 있기 때문에, 이 정보들을 모두 제거해야함.

## 원래 열로 돌리기

In [ ]:
ECU = ECU_TIME.reset_index().drop(columns = ['index'])
ANU = ANU_TIME.reset_index().drop(columns = ['index'])
TSU = TSU_TIME.reset_index().drop(columns = ['index'])
PMU = PMU_TIME.reset_index().drop(columns = ['index'])

In [ ]:
ECU_COL=list(set(ECU_COL) - set(['SYSTEM']))
ANU_COL=list(set(ANU_COL) - set(['SYSTEM']))
TSU_COL=list(set(TSU_COL) - set(['SYSTEM']))
PMU_COL=list(set(PMU_COL) - set(['SYSTEM']))
ECU = ECU[ECU_COL]
ANU = ANU[ANU_COL]
TSU = TSU[TSU_COL]
PMU = PMU[PMU_COL]

## 남은 정리

In [ ]:
DATA_DEVICE.drop(columns = ['KEY'], inplace = True)

# 저장

In [ ]:
ECU.to_csv('/content/gdrive/MyDrive/NEW_DB/ECU.csv')
ANU.to_csv('/content/gdrive/MyDrive/NEW_DB/ANU.csv')
TSU.to_csv('/content/gdrive/MyDrive/NEW_DB/TSU.csv')
PMU.to_csv('/content/gdrive/MyDrive/NEW_DB/PMU.csv')
DATA_DEVICE.to_csv('/content/gdrive/MyDrive/NEW_DB/DATA_DEVICE.csv')
DATA.to_csv('/content/gdrive/MyDrive/NEW_DB/DATA.csv')