In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import sidetable
warnings.filterwarnings('ignore')

In [3]:
#필요한 파일 불러오기

msg = pd.read_csv('../../../Work/techcross/csv/MESSAGE.csv')

# M_CODE 카테고리화

In [4]:
#ERR_CODE가 없는 목록

msg[msg['ERR_CODE'].isnull()]

,TYPE,M_CODE,ERR_CODE,GRADE,MESSAGE,TS_URL,DEVICE_NAME
0,0,0,NaN,NaN,ECS HMI Power On.,NaN,NaN
1,0,1,NaN,NaN,ECS is ready. Startup the Operation.,NaN,NaN
2,0,2,NaN,NaN,ECS HMI Power Off.,NaN,NaN
3,0,3,NaN,NaN,ECS was terminated in the wrong way.,NaN,NaN
4,0,4,NaN,NaN,Ballast Start.,NaN,NaN
5,0,5,NaN,NaN,Ballast Stop.,NaN,NaN
6,0,6,NaN,NaN,Deballast Start.,NaN,NaN
7,0,7,NaN,NaN,Deballast Stop.,NaN,NaN
8,0,8,NaN,NaN,Stripping Start.,NaN,NaN
9,0,9,NaN,NaN,Stripping Stop.,NaN,NaN
10,0,10,NaN,NaN,ECS Device Work.,NaN,NaN
11,0,11,NaN,NaN,ECS Device Stop.,NaN,NaN
12,0,12,NaN,NaN,ECS Device Enable.,NaN,NaN
13,0,13,NaN,NaN,ECS Device Disable.,NaN,NaN
14,0,21,NaN,NaN,ECS Total Power is high.,NaN,NaN
15,0,22,NaN,NaN,ECS Total Current is high.,NaN,NaN
16,0,23,NaN,NaN,The Current is limit value.,NaN,NaN
17,0,50,NaN,2.0,Valve Opened.,NaN,NaN
18,0,51,NaN,NaN,Valve Closed.,NaN,NaN
19,0,52,NaN,NaN,Pump Start.,NaN,NaN
20,0,53,NaN,NaN,Pump Stop.,NaN,NaN
21,0,54,NaN,NaN,Signal Detected.,NaN,NaN
22,0,80,NaN,NaN,Filling the Sodium tiosulfate in the tank.,NaN,NaN
23,0,81,NaN,NaN,EM Treatment time reset.,NaN,NaN
24,0,82,NaN,NaN,Complete replacement reagents CLX.,NaN,NaN
25,0,83,NaN,NaN,Fresh water supply complete.,NaN,NaN
26,0,84,NaN,NaN,Complete HGU electrode cleaning.,NaN,NaN
27,0,85,NaN,NaN,Complete salt supply.,NaN,NaN
28,0,86,NaN,NaN,Complete filter cleaning.,NaN,NaN
29,0,87,NaN,NaN,Complete UCU cleaning.,NaN,NaN
30,0,90,NaN,NaN,Unit Disable.,NaN,NaN
31,0,91,NaN,NaN,Unit Activate.,NaN,NaN
32,0,92,NaN,NaN,CLX1 Disable.,NaN,NaN
33,0,93,NaN,NaN,CLX2 Disable.,NaN,NaN
34,0,94,NaN,NaN,CLX1 Activate.,NaN,NaN
35,0,95,NaN,NaN,CLX2 Activate.,NaN,NaN
36,0,96,NaN,NaN,PUMP1 Disable.,NaN,NaN
37,0,97,NaN,NaN,PUMP2 Disable.,NaN,NaN
38,0,98,NaN,NaN,PUMP1 Activate.,NaN,NaN
39,0,99,NaN,NaN,PUMP2 Activate.,NaN,NaN
40,0,100,NaN,NaN,ECU Abnormal.,NaN,NaN

In [29]:
#ERR_CODE가 있는 목록

msg_nerr = msg[msg['ERR_CODE'].notnull()]
msg_nerr

,TYPE,M_CODE,ERR_CODE,GRADE,MESSAGE,TS_URL,DEVICE_NAME,all
41,0,101,100.0,NaN,ECU Abnormal(IGBT Short),NaN,NaN,ECU Abnormal(IGBT Short)_nan_nan
42,0,102,100.0,NaN,ECU Abnormal(FET Fault),NaN,NaN,ECU Abnormal(FET Fault)_nan_nan
43,0,103,100.0,NaN,ECU Abnormal(IGBT SCR Board Fault),NaN,NaN,ECU Abnormal(IGBT SCR Board Fault)_nan_nan
44,0,104,100.0,NaN,ECU Abnormal(Inner TEMP. Over),NaN,NaN,ECU Abnormal(Inner TEMP. Over)_nan_nan
45,0,105,100.0,NaN,ECU Abnormal(PRU Module Fail),NaN,NaN,ECU Abnormal(PRU Module Fail)_nan_nan
...,...,...,...,...,...,...,...,...
249,0,5008,100.0,NaN,ECU(Drive Fault),NaN,NaN,ECU(Drive Fault)_nan_nan
250,0,5009,100.0,NaN,ECU(Busbar Temperature High),NaN,NaN,ECU(Busbar Temperature High)_nan_nan
251,0,5010,100.0,NaN,ECU(Current Sensor Fail),NaN,NaN,ECU(Current Sensor Fail)_nan_nan
252,0,5011,100.0,NaN,ECU(System Fail),NaN,NaN,ECU(System Fail)_nan_nan
253,0,5012,100.0,NaN,ECU(No Load Fail),NaN,NaN,ECU(No Load Fail)_nan_nan

In [64]:
#통합 칼럼 만든 후, 필터링

msg_nerr['all'] = msg_nerr['MESSAGE'].astype(str) + '_' + msg_nerr['DEVICE_NAME'].astype(str) + '_' + msg_nerr['TS_URL'].astype(str)

filt_list = ['ECU', 'TSU', 'PMU', 'ANU', 'TRO', 'CSU', 'FMU', 'STS', 'FTS', 'CLX', 'DTU', 'Drain Tank',]

for i in range(0, len(filt_list)):
    globals()[filt_list[i]] = msg_nerr[msg_nerr['all'].str.contains(filt_list[i])]
    globals()[filt_list[i] + 'errcode'] = globals()[filt_list[i]]['M_CODE'].unique()

In [54]:
checknlist = []
checknlistsum = 0

for i in range(0, len(filt_list)):
    print(f'{filt_list[i]} ERR_CODE ' + str(len(globals()[filt_list[i]])) + '개')
    checknlist.append(len(globals()[filt_list[i]]))
    checknlistsum += len(globals()[filt_list[i]])
    
print(f'\n검출된 ERR_CODE의 총 합 개수 = {checknlistsum}')

ECU ERR_CODE 58개
TSU ERR_CODE 6개
PMU ERR_CODE 3개
ANU ERR_CODE 7개
TRO ERR_CODE 8개
CSU ERR_CODE 6개
FMU ERR_CODE 5개
STS ERR_CODE 0개
FTS ERR_CODE 2개

검출된 ERR_CODE의 총 합 개수 = 95

In [69]:
ECUerrcode

array([ 101,  102,  103,  104,  105,  106,  120,  121,  122,  123,  124,
        125,  126,  127,  128,  129,  130,  131,  132,  133,  134,  135,
        136,  137,  138,  139,  140,  141,  142,  143,  144,  145,  146,
        147,  148,  149,  150,  151,  152,  153,  161,  163,  175,  701,
        706,  722, 5001, 5002, 5003, 5004, 5005, 5006, 5007, 5008, 5009,
       5010, 5011, 5012])

In [120]:
#err m code 정리

errcode = pd.DataFrame()

for i in range(0, len(filt_list)):
    temp = pd.DataFrame(globals()[filt_list[i] + 'errcode'])
    errcode = pd.concat([errcode, temp], axis=1)
    
errcode.columns=filt_list

In [121]:
errcode

     ECU    TSU    PMU    ANU    TRO    CSU    FMU  STS    FTS
0    101  200.0  715.0  300.0  200.0  607.0  604.0  NaN  603.0
1    102  201.0  701.0  301.0  201.0  608.0  605.0  NaN  703.0
2    103  202.0  703.0  302.0  206.0  609.0  611.0  NaN    NaN
3    104  203.0    NaN  303.0  207.0  610.0  612.0  NaN    NaN
4    105  701.0    NaN  304.0  208.0  613.0  703.0  NaN    NaN
5    106  706.0    NaN  701.0  209.0  703.0    NaN  NaN    NaN
6    120    NaN    NaN  706.0  252.0    NaN    NaN  NaN    NaN
7    121    NaN    NaN    NaN  778.0    NaN    NaN  NaN    NaN
8    122    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
9    123    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
10   124    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
11   125    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
12   126    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
13   127    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
14   128    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
15   129    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
16   130    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
17   131    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
18   132    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
19   133    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
20   134    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
21   135    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
22   136    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
23   137    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
24   138    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
25   139    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
26   140    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
27   141    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
28   142    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
29   143    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
30   144    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
31   145    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
32   146    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
33   147    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
34   148    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
35   149    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
36   150    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
37   151    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
38   152    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
39   153    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
40   161    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
41   163    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
42   175    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
43   701    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
44   706    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
45   722    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
46  5001    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
47  5002    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
48  5003    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
49  5004    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
50  5005    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
51  5006    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
52  5007    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
53  5008    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
54  5009    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
55  5010    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
56  5011    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
57  5012    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN

In [122]:
msg['M_CODE'].value_counts()

701     6
706     4
703     4
0       1
711     1
       ..
201     1
202     1
203     1
204     1
5012    1
Name: M_CODE, Length: 243, dtype: int64