<a href="https://colab.research.google.com/github/AnnJungChan/TECHCROSS/blob/main/DATA_SEARCH/DATA_TRO_RELATION_TSU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터, 패키지 로딩

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')
import pandas as pd
import numpy as np
DATA_DEVICE = pd.read_csv('/content/gdrive/MyDrive/DB/DATA_DEVICE.csv')
ANU = pd.read_csv('/content/gdrive/MyDrive/DB/ANU.csv')
ECU = pd.read_csv('/content/gdrive/MyDrive/DB/ECU.csv')
PMU = pd.read_csv('/content/gdrive/MyDrive/DB/PMU.csv')
TSU = pd.read_csv('/content/gdrive/MyDrive/DB/TSU.csv')
DATA = pd.read_csv('/content/gdrive/MyDrive/DB/DATA.csv')
DATA_DEVICE['DDKEY'] = DATA_DEVICE['SHIP_ID'] + "_" + DATA_DEVICE['SECTION'].astype(str) + "_" + DATA_DEVICE['D_INDEX'].astype(str) + "_" + DATA_DEVICE['DEVICE_ID'].astype(str) + "_" +DATA_DEVICE['DEVICETYPE'].astype(str)
ECU['DEVICETYPE'] = 1
ANU['DEVICETYPE'] = 2
TSU['DEVICETYPE'] = 3
PMU['DEVICETYPE'] = 4
ECU['DDKEY'] = ECU['SHIP_ID'] + "_" + ECU['SECTION'].astype(str) + "_" + ECU['D_INDEX'].astype(str) + "_" + ECU['DEVICE_ID'].astype(str) + "_" +ECU['DEVICETYPE'].astype(str)
ANU['DDKEY'] = ANU['SHIP_ID'] + "_" + ANU['SECTION'].astype(str) + "_" + ANU['D_INDEX'].astype(str) + "_" + ANU['DEVICE_ID'].astype(str) + "_" +ANU['DEVICETYPE'].astype(str)
TSU['DDKEY'] = TSU['SHIP_ID'] + "_" + TSU['SECTION'].astype(str) + "_" + TSU['D_INDEX'].astype(str) + "_" + TSU['DEVICE_ID'].astype(str) + "_" +TSU['DEVICETYPE'].astype(str)
PMU['DDKEY'] = PMU['SHIP_ID'] + "_" + PMU['SECTION'].astype(str) + "_" + PMU['D_INDEX'].astype(str) + "_" + PMU['DEVICE_ID'].astype(str) + "_" +PMU['DEVICETYPE'].astype(str)
ECU.rename(columns = lambda x: "ECU_" + x, inplace = True)
ANU.rename(columns = lambda x: "ANU_" + x, inplace = True)
TSU.rename(columns = lambda x: "TSU_" + x, inplace = True)
PMU.rename(columns = lambda x: "PMU_" + x, inplace = True)
ECU.rename(columns = {'ECU_DDKEY' : 'DDKEY'},inplace=True)
ANU.rename(columns = {'ANU_DDKEY' : 'DDKEY'},inplace=True)
TSU.rename(columns = {'TSU_DDKEY' : 'DDKEY'},inplace=True)
PMU.rename(columns = {'PMU_DDKEY' : 'DDKEY'},inplace=True)
DDECU=pd.merge(DATA_DEVICE,ECU,how = 'left', on = 'DDKEY')
DDANU=pd.merge(DATA_DEVICE,ANU,how = 'left', on = 'DDKEY')
DDPMU=pd.merge(DATA_DEVICE,PMU,how = 'left', on = 'DDKEY')
DDTSU=pd.merge(DATA_DEVICE,TSU,how = 'left', on = 'DDKEY')
DDECU.drop(columns = ['ECU_SHIP_ID','ECU_D_INDEX','ECU_DEVICE_ID','ECU_SYSTEM','ECU_SECTION','ECU_DEVICETYPE'],inplace = True)
DDANU.drop(columns = ['ANU_SHIP_ID','ANU_D_INDEX','ANU_DEVICE_ID','ANU_SYSTEM','ANU_SECTION','ANU_DEVICETYPE'],inplace = True)
DDPMU.drop(columns = ['PMU_SHIP_ID','PMU_D_INDEX','PMU_DEVICE_ID','PMU_SYSTEM','PMU_SECTION','PMU_DEVICETYPE'],inplace = True)
DDTSU.drop(columns = ['TSU_SHIP_ID','TSU_D_INDEX','TSU_DEVICE_ID','TSU_SYSTEM','TSU_SECTION','TSU_DEVICETYPE'],inplace = True)
DDANU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DDPMU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DDTSU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DATA_DEVICE_TYPE=pd.concat([DDECU,DDANU,DDTSU,DDPMU],axis = 1)
DATA_DEVICE_TYPE.drop(columns = ['DDKEY'],inplace = True)
DATA_DEVICE_TYPE['KEY'] = DATA_DEVICE_TYPE['SHIP_ID'] + "_" + DATA_DEVICE_TYPE['SECTION'].astype(str) + "_" + DATA_DEVICE_TYPE['OP_INDEX'].astype(str) + "_" + DATA_DEVICE_TYPE['DATA_INDEX'].astype(str)
DATA['KEY'] = DATA['SHIP_ID'] + "_" + DATA['SECTION'].astype(str) + "_" + DATA['OP_INDEX'].astype(str) + "_" + DATA['DATA_INDEX'].astype(str)
DATA.drop(columns = ['OP_INDEX','DATA_INDEX','SHIP_ID','SYSTEM', 'SECTION'],inplace = True)
DATA_DEVICE_JOIN_DATA=pd.merge(DATA_DEVICE_TYPE,DATA,how = 'left', on = 'KEY')
DATA_DEVICE_JOIN_DATA.drop(columns = ['KEY'], inplace = True)
OPTIME = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
DATA_DEVICE_JOIN_DATA['KEY'] = DATA_DEVICE_JOIN_DATA['SHIP_ID'] + "_" + DATA_DEVICE_JOIN_DATA['SECTION'].astype(str) + "_" + DATA_DEVICE_JOIN_DATA['OP_INDEX'].astype(str)
OPTIME['KEY'] = OPTIME['SHIP_ID'] + "_" + OPTIME['SECTION'].astype(str) + "_" + OPTIME['OP_INDEX'].astype(str)
OPTIME.drop(columns = ['SHIP_ID', 'SECTION', 'OP_INDEX','SYSTEM'], inplace = True)
DATA_DEVICE_JOIN_DATA_JOIN_OPTIME=pd.merge(DATA_DEVICE_JOIN_DATA,OPTIME,how = 'left', on = 'KEY')
DATA_DEVICE_JOIN_DATA_JOIN_OPTIME.drop(columns = ['KEY'], inplace = True)

# TSU 데이터 가공

- DEVICETYPE = 3인 TSU데이터를 뽑고,관련된 칼럼을 추출한다.

In [ ]:
TSU = DATA_DEVICE_JOIN_DATA_JOIN_OPTIME.loc[DATA_DEVICE_JOIN_DATA['DEVICETYPE']==3,:]

In [ ]:
TSU=TSU[['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE', 'DEVICE_ID', 'D_INDEX','LINE','OP_TYPE','SHIP_ID', 'SYSTEM', 'SECTION','TSU_STATE', 'TSU_CONTROL', 'TSU_BP1_CLX1', 'TSU_BP1_CLX2',
       'TSU_BP2_CLX1', 'TSU_BP2_CLX2', 'TSU_BP3_CLX1', 'TSU_BP3_CLX2','DATA_TIME','TRO']]

# 규칙 찾기

- BP 센서들을 모두 더한 값이 DATA 테이블의 TRO이다.

- 이 때, 규칙과 일치하는 경우는 510968개 규칙이 맞지 않는 경우는 66158개

- 규칙이 맞는 경우와 틀린 경우에 대해서 state와 control이 다른지 판단해 본 결과, 관련이 없는 것으로 확인

In [ ]:
TSU_GROUP = pd.DataFrame(TSU.groupby(['SHIP_ID','SECTION','OP_INDEX','DATA_INDEX','OP_TYPE','LINE']).sum())
TSU_GROUP = TSU_GROUP.reset_index()
TSU_BP = TSU_GROUP.iloc[:,12:18]
TSU_GROUP['TSU_BP']=TSU_BP.sum(1)
TSU_GROUP['TRUE/FALSE'] = TSU_GROUP['TRO'] == TSU_GROUP['TSU_BP']

print("True count :  ", TSU_GROUP['TRUE/FALSE'].sum())
print("False count : ", len(TSU_GROUP) - TSU_GROUP['TRUE/FALSE'].sum())

TSU_GROUP_FALSE = TSU_GROUP.loc[TSU_GROUP['TRUE/FALSE'] == False,:]
TSU_GROUP_TRUE = TSU_GROUP.loc[TSU_GROUP['TRUE/FALSE'] == True,:]

print("True state :", TSU_GROUP_TRUE['TSU_STATE'].astype(int).unique())
print("False state :", TSU_GROUP_FALSE['TSU_STATE'].astype(int).unique())

print("True control   :",TSU_GROUP_TRUE['TSU_CONTROL'].unique())
print("False control  :",TSU_GROUP_FALSE['TSU_CONTROL'].unique())

True count :   510968
False count :  66158
True state : [ -1 934 902 898 938 906 960 811 779 807 775 961 771 773 256 874 842 834
 769 870 838   7  -2  14   2   1   4   5]
False state : [ 898  938  906  934  902  960 1812  811  779  807  775  771 1844   -1
    7   14    3]
True control   : [-1.  3.  0.  7.  5.  1. -2.  2.]
False control  : [ 3.  0.  7. -1.  1.  2.]

# 규칙에 해당하는 값과 해당하지 않는 값의 갯수, 비율을 확인

In [ ]:
TRUE = pd.DataFrame(TSU_GROUP_TRUE.groupby(["SHIP_ID", "SECTION", "LINE",'OP_TYPE']).count()['TRUE/FALSE']).rename(columns = {'TRUE/FALSE':'TRUE'}).reset_index()
FALSE = pd.DataFrame(TSU_GROUP_FALSE.groupby(["SHIP_ID", "SECTION", "LINE",'OP_TYPE']).count()['TRUE/FALSE']).rename(columns = {'TRUE/FALSE':'FALSE'}).reset_index()
TRUE['KEY'] = TRUE['SHIP_ID'] + "_" + TRUE['SECTION'].astype(str) + "_" + TRUE['LINE'].astype(str)+"_"+TRUE['OP_TYPE'].astype(str)
FALSE['KEY'] = FALSE['SHIP_ID'] + "_" + FALSE['SECTION'].astype(str) + "_" + FALSE['LINE'].astype(str)+"_"+FALSE['OP_TYPE'].astype(str)
TF = pd.merge(TRUE,FALSE,how = 'outer', on = 'KEY')
TF=TF[['KEY','TRUE','FALSE']]
TF['SHIP_ID']=TF['KEY'].str.split("_").str.get(0)
TF['SECTION']=TF['KEY'].str.split("_").str.get(1)
TF['LINE']=TF['KEY'].str.split("_").str.get(2)
TF['OP_TYPE']=TF['KEY'].str.split("_").str.get(3)
TF['TRUE']=TF['TRUE'].fillna(0)
TF['FALSE']=TF['FALSE'].fillna(0)
TF['RATION'] = TF['FALSE'] / (TF['TRUE']+TF['FALSE']) *100

In [ ]:
#TF

# 규칙에 벗어나는 값이 5% 이상인 것만 추출

In [ ]:
TF=TF[['SHIP_ID','SECTION','OP_TYPE','LINE','TRUE','FALSE','RATION']]
TF_5 = TF.loc[TF['RATION'] > 5,:]

In [ ]:
#TF_5

# 규칙에 벗어나는 5%에 대한 새로운 규칙 찾기

## T141027_00501에 대해서만 규칙 보기

- 규칙이 제각각이라 규칙을 찾아도 무의미 할 것이라고 판단함.

#### BP1_CLX1 = TRO인가?

- 결과적으로 8081개의 관측치가 참으로 나왔고, 나머지는 거짓으로 나왔다.

In [ ]:
T141027_00501=TSU.loc[TSU['SHIP_ID'] == 'T141027-00501',:]
print("첫번째 값과 TRO가 일치하는 값의 갯수 :", sum(T141027_00501['TSU_BP1_CLX1'] == T141027_00501['TRO']))
print("전체 갯수                            :", len(T141027_00501))
print("남은 갯수                            :", 12127-8081)

첫번째 값과 TRO가 일치하는 값의 갯수 : 8081
전체 갯수                            : 12127
남은 갯수                            : 4046

#### BP1_CLX1 + BP2_CLX1 = TRO인가?

- 결과적으로 3286개의 관측치가 참으로 나왔고, 나머지는 거짓으로 나왔다.
- 8081개는

In [ ]:
T141027_00501=T141027_00501[T141027_00501['TSU_BP1_CLX1'] != T141027_00501['TRO']]
print("첫번째 값과 TRO가 일치하는 값의 갯수 :", sum(T141027_00501['TSU_BP1_CLX1'] + T141027_00501['TSU_BP2_CLX1'] == T141027_00501['TRO']))
print("전체 갯수                            :", len(T141027_00501))
print("남은 갯수                            :", 4046-519)

첫번째 값과 TRO가 일치하는 값의 갯수 : 519
전체 갯수                            : 4046
남은 갯수                            : 3527

#### BP2_CLX1 = TRO인가?
- 결과적으로는 2967개의 관측치가 참으로 나왔고, 나머지가 거짓으로 나옴.
- 결측치 4%로써 여기서 규칙찾기를 중단함.

In [ ]:
T141027_00501=T141027_00501[T141027_00501['TSU_BP1_CLX1'] + T141027_00501['TSU_BP2_CLX1'] != T141027_00501['TRO']]
print("첫번째 값과 TRO가 일치하는 값의 갯수 :", sum(T141027_00501['TSU_BP2_CLX1'] == T141027_00501['TRO']))
print("전체 갯수                            :", len(T141027_00501))
print("남은 갯수                            :", 3527-2967)
print("결측 비율                            :", (560/12127)*100)

첫번째 값과 TRO가 일치하는 값의 갯수 : 2967
전체 갯수                            : 3527
남은 갯수                            : 560
결측 비율                            : 4.6177950028861225