<a href="https://colab.research.google.com/github/AnnJungChan/TECHCROSS/blob/main/DATA_SEARCH/PMU_PSUM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 패키지로딩

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Mounted at /content/gdrive

# 데이터로딩

In [3]:
DATA_DEVICE = pd.read_csv('/content/gdrive/MyDrive/DB/DATA_DEVICE.csv')
ANU = pd.read_csv('/content/gdrive/MyDrive/DB/ANU.csv')
ECU = pd.read_csv('/content/gdrive/MyDrive/DB/ECU.csv')
PMU = pd.read_csv('/content/gdrive/MyDrive/DB/PMU.csv')
TSU = pd.read_csv('/content/gdrive/MyDrive/DB/TSU.csv')
DATA = pd.read_csv('/content/gdrive/MyDrive/DB/DATA.csv')
OPTIME = pd.read_csv('/content/gdrive/MyDrive/DB/OPTIME.csv')
DATA_DEVICE['DDKEY'] = DATA_DEVICE['SHIP_ID'] + "_" + DATA_DEVICE['SECTION'].astype(str) + "_" + DATA_DEVICE['D_INDEX'].astype(str) + "_" + DATA_DEVICE['DEVICE_ID'].astype(str) + "_" +DATA_DEVICE['DEVICETYPE'].astype(str)
ECU['DEVICETYPE'] = 1
ANU['DEVICETYPE'] = 2
TSU['DEVICETYPE'] = 3
PMU['DEVICETYPE'] = 4
ECU['DDKEY'] = ECU['SHIP_ID'] + "_" + ECU['SECTION'].astype(str) + "_" + ECU['D_INDEX'].astype(str) + "_" + ECU['DEVICE_ID'].astype(str) + "_" +ECU['DEVICETYPE'].astype(str)
ANU['DDKEY'] = ANU['SHIP_ID'] + "_" + ANU['SECTION'].astype(str) + "_" + ANU['D_INDEX'].astype(str) + "_" + ANU['DEVICE_ID'].astype(str) + "_" +ANU['DEVICETYPE'].astype(str)
TSU['DDKEY'] = TSU['SHIP_ID'] + "_" + TSU['SECTION'].astype(str) + "_" + TSU['D_INDEX'].astype(str) + "_" + TSU['DEVICE_ID'].astype(str) + "_" +TSU['DEVICETYPE'].astype(str)
PMU['DDKEY'] = PMU['SHIP_ID'] + "_" + PMU['SECTION'].astype(str) + "_" + PMU['D_INDEX'].astype(str) + "_" + PMU['DEVICE_ID'].astype(str) + "_" +PMU['DEVICETYPE'].astype(str)
ECU.rename(columns = lambda x: "ECU_" + x, inplace = True)
ANU.rename(columns = lambda x: "ANU_" + x, inplace = True)
TSU.rename(columns = lambda x: "TSU_" + x, inplace = True)
PMU.rename(columns = lambda x: "PMU_" + x, inplace = True)
ECU.rename(columns = {'ECU_DDKEY' : 'DDKEY'},inplace=True)
ANU.rename(columns = {'ANU_DDKEY' : 'DDKEY'},inplace=True)
TSU.rename(columns = {'TSU_DDKEY' : 'DDKEY'},inplace=True)
PMU.rename(columns = {'PMU_DDKEY' : 'DDKEY'},inplace=True)
DDECU=pd.merge(DATA_DEVICE,ECU,how = 'left', on = 'DDKEY')
DDANU=pd.merge(DATA_DEVICE,ANU,how = 'left', on = 'DDKEY')
DDPMU=pd.merge(DATA_DEVICE,PMU,how = 'left', on = 'DDKEY')
DDTSU=pd.merge(DATA_DEVICE,TSU,how = 'left', on = 'DDKEY')
DDECU.drop(columns = ['ECU_SHIP_ID','ECU_D_INDEX','ECU_DEVICE_ID','ECU_SYSTEM','ECU_SECTION','ECU_DEVICETYPE'],inplace = True)
DDANU.drop(columns = ['ANU_SHIP_ID','ANU_D_INDEX','ANU_DEVICE_ID','ANU_SYSTEM','ANU_SECTION','ANU_DEVICETYPE'],inplace = True)
DDPMU.drop(columns = ['PMU_SHIP_ID','PMU_D_INDEX','PMU_DEVICE_ID','PMU_SYSTEM','PMU_SECTION','PMU_DEVICETYPE'],inplace = True)
DDTSU.drop(columns = ['TSU_SHIP_ID','TSU_D_INDEX','TSU_DEVICE_ID','TSU_SYSTEM','TSU_SECTION','TSU_DEVICETYPE'],inplace = True)
DDANU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DDPMU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DDTSU.drop(columns = ['DATA_INDEX', 'OP_INDEX', 'DEVICETYPE','DEVICE_ID','D_INDEX','SHIP_ID','SYSTEM','SECTION','DDKEY'],inplace = True)
DATA_DEVICE_TYPE=pd.concat([DDECU,DDANU,DDTSU,DDPMU],axis = 1)
DATA_DEVICE_TYPE.drop(columns = ['DDKEY'],inplace = True)
DATA_DEVICE_TYPE['KEY'] = DATA_DEVICE_TYPE['SHIP_ID'] + "_" + DATA_DEVICE_TYPE['SECTION'].astype(str) + "_" + DATA_DEVICE_TYPE['OP_INDEX'].astype(str) + "_" + DATA_DEVICE_TYPE['DATA_INDEX'].astype(str)
DATA['KEY'] = DATA['SHIP_ID'] + "_" + DATA['SECTION'].astype(str) + "_" + DATA['OP_INDEX'].astype(str) + "_" + DATA['DATA_INDEX'].astype(str)
DATA.drop(columns = ['OP_INDEX','DATA_INDEX','SHIP_ID','SYSTEM', 'SECTION'],inplace = True)
DATA_DEVICE_JOIN_DATA=pd.merge(DATA_DEVICE_TYPE,DATA,how = 'left', on = 'KEY')
DATA_DEVICE_JOIN_DATA.drop(columns = ['KEY'], inplace = True)
DATA_DEVICE_JOIN_DATA['KEY'] = DATA_DEVICE_JOIN_DATA['SHIP_ID'] + "_" + DATA_DEVICE_JOIN_DATA['SECTION'].astype(str) + "_" + DATA_DEVICE_JOIN_DATA['OP_INDEX'].astype(str)
OPTIME['KEY'] = OPTIME['SHIP_ID'] + "_" + OPTIME['SECTION'].astype(str) + "_" + OPTIME['OP_INDEX'].astype(str)
OPTIME.drop(columns = ['SHIP_ID', 'SECTION', 'OP_INDEX','SYSTEM'], inplace = True)
DATA_DEVICE_JOIN_DATA_JOIN_OPTIME=pd.merge(DATA_DEVICE_JOIN_DATA,OPTIME,how = 'left', on = 'KEY')
DATA_DEVICE_JOIN_DATA_JOIN_OPTIME.drop(columns = ['KEY'], inplace = True)
DATA=DATA_DEVICE_JOIN_DATA_JOIN_OPTIME.loc[DATA_DEVICE_JOIN_DATA_JOIN_OPTIME['DEVICETYPE'] == 4,:]
PMU=DATA[['SHIP_ID', 'SECTION','LINE', 'DEVICE_ID', 'OP_INDEX', 'DATA_INDEX', 'D_INDEX','PMU_V1', 'PMU_V2', 'PMU_V3', 'PMU_C1', 'PMU_C2', 'PMU_C3', 'PMU_PSUM']]
PMU=PMU.loc[PMU['LINE'].isna() != True,:]

# CURRENT, VOLTANGE와 PSUM의 관계

- PSUM = V*C*A이므로, PSUM은 V와 C에 상관관계가 있을 것

- V는 평균으로 도출하고, C는 평균으로 도출함 (VOLTAGE, CURRENT라고 변수 지정)

## 공식을 대입하여 일치 관계를 확인

In [48]:
PMU['VOLTAGE'] = np.round((PMU['PMU_V1'] + PMU['PMU_V2'] + PMU['PMU_V3']) / 3,1)
PMU['CURRENT'] = np.round((PMU['PMU_C1'] + PMU['PMU_C2'] + PMU['PMU_C3']) /3,1)
PMU['FREQUENCY'] = np.round((PMU['PMU_PSUM'] * 1000)/(PMU['VOLTAGE'] * PMU['CURRENT'] * 1.732),0)
PMU['FREQUENCY'][PMU['FREQUENCY'].isna()] = 0
PMU['FREQUENCY'][PMU['PMU_PSUM'] == -1] = -1
print('일치하는 갯수      : ' ,sum(PMU['PMU_PSUM'] == np.round(((PMU['VOLTAGE'] * PMU['CURRENT'] * 1.732) / 1000) * PMU['FREQUENCY'],2)))
print('일치하지 않는 갯수 : ' ,sum(PMU['PMU_PSUM'] != np.round(((PMU['VOLTAGE'] * PMU['CURRENT'] * 1.732) / 1000) * PMU['FREQUENCY'],2)) )

일치하는 갯수      :  24681
일치하지 않는 갯수 :  217957

일치하는 갯수보다 일치하지 않는 갯수가 더 많다는 것을 알 수 있다. 즉, 이를 가지고 식을 만들 순 없다.


## 상관관계만 파악

In [64]:
PMU_OUT = PMU[PMU['PMU_PSUM'] != 0]
PMU_OUT = PMU_OUT[PMU_OUT['PMU_PSUM'] != -1]
PMU_OUT['VOLTAGE*CURRENT'] = PMU_OUT['VOLTAGE'] * PMU_OUT['CURRENT']
PMU_OUT[['VOLTAGE*CURRENT','VOLTAGE','CURRENT','PMU_PSUM']].corr()

                 VOLTAGE*CURRENT   VOLTAGE   CURRENT  PMU_PSUM
VOLTAGE*CURRENT         1.000000 -0.300270  0.999122  0.204624
VOLTAGE                -0.300270  1.000000 -0.335863  0.086546
CURRENT                 0.999122 -0.335863  1.000000  0.207686
PMU_PSUM                0.204624  0.086546  0.207686  1.000000

VOLTAGE와 CURRENT의 곱이 PMU_PSUM과 상관관계가 없다는 것이 알려졌다. 즉, 이는 상관관계가 없으므로, VOLTAGE, CURRENT와 독립적으로 움직인다고 볼 수 있다.